[2017-08-28 20:16] mahoneyrAC opened #1 "Incorrect gitignore file leads to untracked content"
I'm using the gator grader system and came across a bug that resulted in untracked content. Here are the derived files that should not be tracked by the system:

[code]
Please update the `.gitignore` to avoid these files and directories from being tracked.

[2017-08-28 20:19] toccinAC commented on #1
This has been happening to me as well, when the command git status is done in the gator grader repository.

[2017-08-31 16:54] gkapfham commented on #1
Hello @mahoneyrAC and @toccinAC! Thanks for pointing out that this repository did not have a `.gitignore` file and thus certain derived files would be flagged as needed to be committed to the repository. I have added the requested file and thus I am closing this issue. If you notice any further problems, then please report back on this issue.

[2017-08-31 16:54] #1 closed

[2017-08-31 22:47] toccinAC opened #2 "Issue when doing a check on reflections"
Ben Watto came in with an issue that is being brought up when he does the ./gatorgrader.sh --check command. If there is a paragraph in the reflection.md document that is over one line it throws an error that is writing/reflection.md:3: MD013 Line Length. There are no errors in the paragraph, but the system continues to throw the error.

[2017-09-01 04:04] gkapfham commented on #2
Hello @toccinAC! First, thanks for raising this issue about GatorGrader. I would suggest that you not mention the names of specific students in this issue tracker as the idea is to use it to resolve specific issues about the GatorGrader tool. Does this sound reasonable?

Finally, I think that the error that you are seeing is expected. GatorGrader uses the `mdl` program to check all of the markdown

[2017-09-01 04:04] #2 closed

[2018-01-12 21:47] gkapfham opened #3 "Command-line argument verification is incomplete and broken"
Currently, there are many mistakes in the code that verifies the command line
arguments. First, some of the lines of verification code are commented out.
Second, not all of the checks are complete. The function called `def
verify_gatorgrader_arguments(args)` in the `gatorgrader.py` file needs to be
substantially refactored. Right now this feature of GatorGrader will only work
because of the fact t

[2018-01-12 22:43] gkapfham opened #4 "Incorrect Calculation of the Number of Lines of Output"
The current implementation of the feature that counts the lines of output is not
working correctly. It cannot count the lines of output because it is running the
wrong Gradle command to run the Java program under test. The command to run
Gradle should be the one that runs it in a "plain" mode that does not produce
any extra output or tracking from Gradle.

Also, there are currently no test cases f

[2018-01-12 22:50] gkapfham opened #5 "Track Number of GitHub Commits for an Assignment"
It would be useful it GatorGrader could check how many commits were made to a
GitHub repository and then allow an assignment to pass or fail if the number is
not about a specific limit. Also, it would be useful to see who made the commits
and them pass or fail based on whether or not there was equal representation
among the people who contributed to the repository. There are Python libraries,
like

[2018-01-12 22:57] gkapfham opened #6 "Check the Number of Sentences in a Written Paragraph"
Currently GatorGrader can check to see how many paragraphs are in a written
document. However, it does not enforce how many sentences are inside of the
paragraph. As such, it is possible for a student to write a very short
paragraph and still fulfill the GatorGrader checks. So, GatorGrader should
check the number of sentences in a written paragraph and then pass or fail a
test case based on the nu

[2018-01-12 23:06] gkapfham opened #7 "Support exact equality checks for code fragments"
(I think that) GatorGrader currently supports code fragment checks to see if the
fragment occurs at a level that is greater than or equal to a specified number.
In certain circumstances, it would be better if GatorGrader could pass or fail
the student's submission based on whether or not it has exactly the specified
number of code fragments. For instance, if you want to ensure that the submitted
p

[2018-01-12 23:10] gkapfham opened #8 "Report Useful Summary Diagnostics"
Currently, if a build does not pass correctly, then the GatorGrader program will
say that the build fails. However, a student then has to scroll all of the way
through the output in order to see what is broken. It would be useful if
GatorGrader had a way to store state and then to display a useful summary
diagnostic after running all of the checks. Right now, I don't think that this
is possible be

[2018-01-12 23:17] gkapfham opened #9 "Display the number of output lines found during checking"
Right now, GatorGrader will simply report that the incorrect number of lines was
found when it is checking the lines of output for a program. This should be
improved so that it is possible for GatorGrader to actually say how many lines
it found. This will help students when they are debugging their program's
output. So, if a student has a program submission that fails this check, then
they will kn

[2018-01-12 23:20] gkapfham opened #10 "Fix Python Linting Errors"
Many of the Python source code files for GatorGrader do not pass the PEP8
standard. For instance, many of the files have lines that are too long. Also,
there are some variables that (appear to) not be named correctly. Most or all
of these should be fixed if possible.

[2018-01-31 15:39] gkapfham commented on #10
Hello! I wanted to note that this issue has been fully resolved. All of GatorGrader's source code is now PEP8 compliant. As such, I am closing this issue. Please reopen if you find that parts of the code are not in compliance.

[2018-01-31 15:39] #10 closed

[2018-01-31 15:43] gkapfham commented on #4
Hello @Michionlion and @toccinAC and @jjumadinova! I wanted to let you know that this issue has now been fully resolved. The key to using GatorGrader correctly is to give it the right command for running the program. Specifically, you should run it so that only the lines of output are returned to it for checking. Here is an example of a correct command line that could go in a `gatorgrader.sh` scri

[2018-01-31 15:43] #4 closed

[2018-01-31 15:47] gkapfham opened #12 "Sentence Counting Does not Work if there Are No Sentences in Paragraph"
The current version of GatorGrader does not work if it checks an input file for the number of sentences in a paragraph and there are no sentences. For instance, this could happen for the following type of Markdown:

[code]

Note that there is a header and then no paragraph below the header. This will currently cause GatorGrader to crash for its current invocation. In the short term, the best worka

[2018-01-31 15:50] gkapfham commented on #6
Hi @Michionlion and @jjumadinova and @toccinAC! There is a version of this feature that is almost working. However, if you check Issue #12 you will see that this feature is not yet correctly implemented. So, you can ask GatorGrader to check for the number of sentences in a paragraph, but only if you do not specify "empty paragraphs". For your reference, here is an example of how to try out this co

[2018-01-31 15:52] gkapfham commented on #5
Hello @jjumadinova and @Michionlion and @toccinAC! I am writing to let you know that this feature is now working correctly. You can have GatorGrader check the number of commits in a repository with:

[code]

Please note that you need to carefully think about how many commits are already in the repository when you provide it to the students. For instance, if you want the student to make 5 commits a

[2018-01-31 15:52] #5 closed

[2018-02-02 15:02] toccinAC opened #13 "Improve Documentation for command line interface"
I have created a branch to improve the documentation. The main area I will be looking at will be how to use the command line. If you have any other suggestions please let me know.

[2018-02-14 16:35] Michionlion opened #14 "Create Gradle Task to Run GatorGrader"
Currently students run a bash file which calls the gatorgrader python program to do checking. Once @toccinAC finishes documentation and converting that bash file setup to a python one, a custom gradle task that runs gatorgrader for a project would greatly help students. We should put together a JAR or other packaged gradle add-on to allow a command such as `$gradle grade` to be used.

[2018-02-14 16:41] Michionlion commented on #14
As a related issue, we should define a format for a file that assignment requirements should be made in - then the actual checking can be separated from the command-line arguments to gatorgrader, and @toccinAC's python program could parse that file and then call `gatorgrader.py` (I guess we could call that 'gatorgrader core' with the necessary arguments.

[2018-02-14 17:29] Michionlion opened #15 "Define a Requirements File Format"
We should define a format for a file that assignment requirements should be made in - then the actual checking can be separated from the command-line arguments to gatorgrader, and @toccinAC's python program could parse a file in this format and then call `gatorgrader.py` with the necessary arguments.

[2018-02-15 14:59] gkapfham commented on #13
Can you please make this issue's title more descriptive and add a label to it? Thanks @toccinAC!

[2018-02-15 15:02] gkapfham commented on #15
Yes, I agree that this is a good idea, @Michionlion. Can you start to work with @toccinAC to think about what this format should look like? If you can record your ideas here on the issue track, it would be greatly appreciated.

[2018-02-15 15:06] gkapfham opened #16 "Python Files Should Not be Included in the Main Directory"
Currently, all of the Python source code files are included in the main directory. This is messy and overwhelming for someone who is first looking at the repository. It would be better if only select files were included in the main directory and then the rest were included in a subdirectory. Please note that making a change like this will also require us to update the way that test cases find the

[2018-02-15 15:11] gkapfham commented on #14
Hello @Michionlion! I agree that this is a really good idea. Can you start to investigate how to perform this type of packing in Gradle? Perhaps you might be able to learn more about how to allow Gradle tasks to call Python programs in advance of @toccinAC completing the new Python script? Then, once he is finished, it would be possible to connect the new script to your Gradle approach. Seems reas

[2018-02-15 21:43] Michionlion opened #17 "Code-fenced blocks are counted as paragraphs"
When doing sentence or paragraph checking, code fenced blocks would be counted as paragraphs, and therefore be checked for the requisite number of sentences. This should not happen. An example code block that would fail a check for 3 sentences despite every paragraph being 3 sentences is shown below.

[code]

[2018-02-15 21:49] Michionlion commented on #17
I've create a new [branch](/gkapfham/gatorgrader/tree/i-17-code-fence-bug) to fix this bug.

[2018-02-16 02:53] Michionlion opened #19 "Travis CI possible configuration bug"
Okay, so it seems that, although the [branch i-17](/gkapfham/gatorgrader/tree/i-17-code-fence-bug) contains the exact same code as a forked and manually merged [repo](/Michionlion/gatorgrader), making a PR from a forked master branch works as expected. However, when making a PR from the branch itself, or simply viewing the Travis CI results from that branch, there is a low-level git error on travi

[2018-02-16 18:23] durcij opened #20 "Couldn't Effectively Count Sentences with the Phrase "A through L." in a Paragraph."
I was running into an issue with the sentence counting feature in a written reflection.  After numerous attempts to try to troubleshoot it, the error seemed to stem from the use of the phrase, "A through L."

[2018-02-16 20:15] Michionlion commented on #20
Hi @durcij! Thanks for reporting this bug! Can you provide the text that is not getting counted correctly?

[2018-02-16 20:29] Michionlion commented on #19
This bug is resolved by PR #21, and there is an explanation of the fix and how the issue arose there as well.

[2018-02-16 20:29] #19 closed

[2018-02-16 20:43] Michionlion commented on #20
I've added two test cases with the below paragraphs for `gatorgrader_fragments.py:count_sentences()` on [this branch](/gkapfham/gatorgrader/tree/i-20-sentence-count-bug):

This test case passes:
[code]

This test case fails:
[code]

I will investigate further, but this seems to be a bug with `nltk`. Excellent work finding this, @durcij!

[2018-02-16 20:46] Michionlion commented on #17
This bug has been fixed in PR #21. Therefore, I am closing the issue.

[2018-02-16 20:46] #17 closed

[2018-02-16 21:08] Michionlion commented on #20
I've confirmed that the bug is present in `nltk` itself. It can be replicated by running this code:
[code]
Result will then print as `['A sentence of one small part.', 'This second one ends with A through L. And here is a third sentence.']`. Another thing to note is that a sentence must not be the last sentence in the paragraph, since then the tokenization simply ends, and it seems as though it wo

[2018-02-16 21:17] Michionlion commented on #20
After more investigation, this seems to happen whenever there is one of the below characters followed by a period (`.`):
[code]

[2018-02-16 21:24] Michionlion commented on #20
For future use, I think that we will not be able to fix this bug ourselves. Instead, students should avoid typing the characters seen above as the last word in a sentence. As a sanity check, we could perhaps check if more than `x` periods were observed when checking for `x` sentences, and if so, and the check failed, give a warning message to students about this problem.

[2018-02-19 16:04] Michionlion commented on #20
For future reference, a possible workaround or patch would be to see if the paragraph currently being tested contains one of the strings that causes this problem, and if so, increase the count by one, unless it ends with that string.

[2018-02-21 00:06] Michionlion commented on #14
I've started work on this feature, in the form of a plugin to be published on one of the central Gradle repositories. Anyone is invited to join - it is written in Java with the Gradle API. The repository is [here](https://github.com/Michionlion/gatorgrader-plugin).

[2018-02-22 14:39] toccinAC opened #22 "Creating a python file so that the bash script is not needed"
I am going to make a python file that contains the actions that are completed in the gatorgrader.sh so that the system is easier to configure. This will also give gatorgrader the ability to be used with different programming languages.

[2018-02-22 18:51] Michionlion commented on #22
@toccinAC Can we work together to integrate this with [gatorgrader-plugin](https://github.com/Michionlion/gatorgrader-plugin)

[2018-02-23 21:09] yeeunmariakim commented on #20
We have agreed on changing to a word count requirement instead of the sentence count as to remove our dependency on the NLTK library.

[2018-02-28 16:03] toccinAC commented on #13
I have done a pull request with the changes.

[2018-03-05 04:24] Michionlion commented on #14
The first working build of GatorGradle has been released. It's available at the [gradle plugin portal](https://plugins.gradle.org/plugin/org.gatored.gatorgradle), and can be included from any gradle project to enable GatorGrading checking. The documentation and future work (still need major improvements) can be found at the [gatored/gatorgradle repo](https://github.com/gatored/gatorgradle).

I'm n

[2018-03-05 04:24] #14 closed

[2018-03-15 19:55] Michionlion commented on #22
Closing this issue per past meetings. Look for [GatorGradle](https://github.com/gatored/gatorgradle) to get this functionality.

[2018-03-15 19:55] #22 closed

[2018-03-15 19:58] Michionlion commented on #15
This issue has been closed since the [GatorGradle](https://github.com/gatored/gatorgradle) repository will handle distribution and assignment creation tasks such as this.

[2018-03-15 19:58] #15 closed

[2018-03-15 19:58] #13 closed

[2018-03-15 20:00] Michionlion commented on #8
[GatorGradle](https://github.com/gatored/gatorgradle), the program described in this issue, is now available and being worked on. Therefore any further discussion should take place in its repository (and would be welcomed).

[2018-03-15 20:00] #8 closed

[2018-03-27 19:41] Michionlion commented on #20
PR #24 implements the agreed upon word count check to replace the sentence count check. This bug, since it is from `nltk`, now does not affect GatorGrader.

[2018-03-27 19:41] #20 closed

[2018-03-27 19:45] Michionlion opened #25 "Atomic checks"
Checks should be formatted so that one GatorGrader command-line call only executes one check, regardless of whether files or directories exist, or any other check. This will involve heavily refactoring `gatorgrader.py` to support individual checks and eliminating code that provides for multi-check commands. In the future, perhaps an option can be implemented to allow for multicheck commands (such

[2018-03-27 19:58] Michionlion opened #26 "Optional JSON-like reporting"
An optional reporting form in a JSON-like format for checks would be extremely useful for external tools such as [GatorGrader](https://gatored.github.io/gatorgradle/). A proposed format for such a report is presented below.

The result of running `gatorgrader.py --directories src/main/java/labeight/experiment --checkfiles Experiment.java --fragments "println(" --fragmentcounts 4`

[code]

The resu

[2018-03-27 20:06] Michionlion commented on #12
This is solved (and changed) in PR #24.

[2018-03-27 20:06] #12 closed

[2018-03-27 20:08] Michionlion commented on #6
This is deprecated in favor of the `--wordcount` option currently on PR #24, and documented in `README.md` on that branch.

[2018-03-27 20:08] #6 closed

[2018-08-06 21:38] gkapfham opened #30 "Improve coverage of the run module in the gator package"
Currently the run module has very low coverage by the test suite. The coverage should be increased by adding more and more thorough tests.

[2018-08-06 21:42] gkapfham opened #31 "Improve coverage of the gatorgrader script"
The gatorgrader currently has low coverage. In part, this is because of the fact that there is a lot of command-line argument verification that is incorrect and not fully tested. Even though this verification code should be moved to a new module, much of the code in the gatorgrader script needs to be better tested so as to improve code coverage and confidence in the code.

[2018-08-06 21:45] gkapfham opened #32 "Add test cases for the invoke module in the gator package"
There are currently no test cases for the functions in the invoke module. This means that we are relying on the tests of other functions that are used by invoke to ensure that there are no defects. However, invoke should have its own test suite, thereby improving coverage and better establishing a confidence in correctness.

[2018-08-06 21:53] #16 closed

[2018-08-06 21:54] gkapfham commented on #16
I have resolved this issue by moving all of the files that were prefixed with gatorgrader_ so that they have moved into the gator package. Each of these files is now its own module. The unit test suite is still passing and more integration testing will now commence.

[2018-08-06 23:57] gkapfham opened #34 "Add help descriptions to all of the command-line arguments"
All of the command-line arguments should have help strings that display in the menu system. This will necessitate the provision of a help string parameter in the arguments file.

[2018-08-07 14:46] gkapfham opened #36 "Improve coverage of the fragments module in the gator package"
There are currently at least two functions in the fragments package that are not tested at all. Please see the coverage report to learn about which of these functions are not tested. Tests should be added for these functions so as to better establish a confidence in correctness.

[2018-08-07 15:50] gkapfham opened #37 "Add a feature that can check the number of lines in a file"
After discussing with @jjumadinova, we realized that it would also be useful if GatorGrader had a feature that could check if a specified file in a specified directory contained more than a certain number of lines in it. So, we need to add this feature to the tool.

[2018-08-07 15:53] gkapfham opened #38 "Tighten spacing and (potentially) add color to the output checks"
The output from running the checks takes up too much space. It should be simplified so that it gives the name of the check and then whether it passed or failed. There can also be an additional line of diagnostic output that furnishes, for instance, the number of lines that were actually found in the output. Ultimately, this output needs to mirror more closely the output that is produced by the Gra

[2018-08-07 15:59] gkapfham commented on #3
The Pull Request #35 is working towards the complete resolution of this issue, @toccinAC and @Michionlion. If you have any feedback, let me know!

[2018-08-09 00:04] gkapfham commented on #37
It is important to note that there is already an `--outputlines` function. It should be possible to generalize that feature so that it counts either lines of output or lines of source code. With that said, be careful about how counting lines may vary. Also, note that the current implementation is very much hard-coded to work for lines of output from running a program.

[2018-08-09 00:09] gkapfham opened #39 "Simplify the logic and implementation of the main function in gatorgrader.py"
The current implementation of the `if __name__ == "__main__":` is too complicated and not generalizable. It should be refactored to take advantage of the under understanding of the command-line arguments, including which are top-level and which are ancillary.

[2018-08-10 15:50] gkapfham commented on #26
I have finished refactoring the command-line interface and the called functions so that only one check is performed per invocation of GatorGrader. However, the tool does not currently store or report these results in a convenient fashion.

[2018-08-10 15:52] gkapfham commented on #3
I have refactored the command-line arguments and their verification. However, the remaining "backend" of the system is not yet complete and thus I will leave this issue open until I am confident that end-to-end the system works correctly.

[2018-08-10 15:53] gkapfham commented on #34
I have finished adding help descriptions for all of the command-line arguments. Also, each arguments order in the help menu is correct and the messages are short enough to fit onto a single line. I am now going to close this issue as it has been resolved.

[2018-08-10 15:53] #34 closed

[2018-08-10 15:55] gkapfham opened #40 "Update the documentation to reflect new command-line arguments"
The current documentation in the `README.md` file is not correct as it does not reflect the meaning of the command-line arguments and it lists the old names of them. Instead of giving a hard-to-maintain list of the arguments, it would be better to give the output from requesting the help menu.

[2018-08-10 15:58] gkapfham opened #41 "Update the documentation's instructions for installation and testing"
The current content of the `README.md` does not explain how to use `pipenv` to install the program's development and testing dependencies. Also, the documentation does not currently explain how to use `pipenv` to run the test suite or run the program itself. Also, it might be useful to explain a little bit more about how to run the test suite with `-x` so that it halts on the first test failure.

[2018-08-10 16:00] gkapfham commented on #39
The key way to improve this implementation and make it more testable is to move all of the code in the main function into function(s) in a new module. Also, we should consider calling some of the diagnostic functions from the argument module. Then, this code can be separately called in a test suite. Finally, the main function will call the well-tested top-level function from the new module.

[2018-08-13 15:00] gkapfham commented on #26
The supporting code for this feature now exists. However, we will need to add an additional command-line argument like `--json` so that the GatorGrader tool knows to output JSON instead of plaintext.

[2018-08-14 01:14] gkapfham opened #44 "Generalize the invoke module functions to avoid code duplication"
Many of the functions in the invoke module contain duplicative source code. For instance, checking for paragraphs and checking for comments is almost the same and thus this functionality should be generalized and then called in the appropriate context with the correct parameters.

[2018-08-14 01:36] gkapfham opened #45 "Ensure that the paragraph checks disregard markdown syntax"
Currently there are some tests to check paragraph counting with Markdown. However, we should ensure that this works correctly and add more tests to the `test_fragments` suite.

[2018-08-18 17:28] gkapfham opened #46 "Add Travis CI checking with Pylint for the gator package"
Currently, there is no Pylint checking of the gator package and all of its modules. This is due to the fact that the `gatorgrader.py` script still contains a complex method that will break the build. However, once this method is removed and simpler ones are substituted in its place, we should start to perform Pylint-ing on the gator package.

[2018-08-21 01:34] gkapfham opened #47 "Add a feature to check the number of commits for each member of a team project"
It would be useful if it was possible to analyze how the individuals in a team contributed to the submitted solution. The idea would be to continue to use the GitPython tool to extract the commit history for a team's Git repository. Then, you could use this history to see how many commits were made by each member of the team. Finally, you could look at the "size" of each commit by determining the

[2018-08-21 01:36] gkapfham commented on #47
Just as a note, @Michionlion, I do not plan to finish this feature by the time that the academic semester starts. However, I could imagine that it would be useful to have this feature in place by the time that we start running group projects at the middle and end of the semester.

[2018-08-21 19:35] gkapfham commented on #37
For now, the counting of lines in a file will focus exclusively on the number of "physical" lines of code, counting newlines. It will not be language-aware, meaning that it cannot take Java or Python source code and count the "logical" lines of code in the program. To do more sophisticated types of checks for line length, we should consider using a tool like `cloc` or `sloccount`, which I judge to

[2018-08-22 14:51] gkapfham commented on #7
As a note, it would be useful to support exact count checking for a wide variety of features, including comments, paragraphs, words, fragments, and line counts. We should add this global feature so that it can modify all of these counts, which are currently greater than or equal to a specified threshold.

[2018-08-22 14:55] gkapfham commented on #3
I have merged the pull request that resolved this issue and thus I am going to close it now. Please comment here or raise a new issue if you still see problems with the verification of the command-line arguments.

[2018-08-22 14:55] #3 closed

[2018-08-22 14:56] gkapfham commented on #9
I have added this feature and thus I am now going to close this issue. If you see that there are problems with the way in which GatorGrader produces the diagnostic information, please let comment here or raise a new issue.

[2018-08-22 14:56] #9 closed

[2018-08-22 14:57] gkapfham commented on #25
Hello @Michionlion, @toccinAC, and @castellanosr, I have added a feature that allows GatorGrader to return a JSON object instead of text. However, currently there is not yet a command-line argument to enable this feature. Please let me know how you would like to specify that GatorGrader should return JSON instead of plaintext and then we can deploy this feature into use.

[2018-08-22 14:59] gkapfham commented on #30
Here is the current coverage report for GatorGrader:

[code]

All code in the run module is covered. Most of the code in run was no longer needed and thus has been removed. There are three core functions that are still used by the other modules and all of these are tested.

[2018-08-22 14:59] #30 closed

[2018-08-22 15:00] gkapfham commented on #31
The GatorGrader script is now _very_ minimal, with all of the key functionality being moved to the other modules in the gator package. All of those modules are well tested and thus there is no need to perform further testing of the GatorGrader script. As such, I am closing this issue. Please comment here or raise a new issue if you see problems with the way in which I am testing this script.

[2018-08-22 15:00] #31 closed

[2018-08-22 15:01] gkapfham commented on #32
I have added test cases to the invoke module and its code now has 100% statement coverage. As such, I am closing this issue. Please comment here or raise a new issue if you observe any problems with this module in the gator package.

[2018-08-22 15:01] #32 closed

[2018-08-22 15:02] gkapfham commented on #36
I have added test cases to the fragments module in the gator package and there is now 100% statement coverage of the code. As such, I am closing this issue. Please comment here or raise a new issue if you find problems with this module's functionality.

[2018-08-22 15:02] #36 closed

[2018-08-22 15:05] gkapfham commented on #37
Hello @jjumadinova, I have added the feature that can count the lines in a file or a program's output. Currently, it is working such that it will pass a check when the number of lines present is greater than or equal to a threshold. I think that this would work well for checking in-class participation. I plan to add a feature that will also do exact equality checks. However, I think that this feat

[2018-08-22 15:07] gkapfham commented on #38
I have finished the implementation for this issue. Now the output takes up less space. However, I decided not to use color in the output. Instead, I am using certain Unicode symbols that I am hoping will be evident to the students. @Michionlion, please comment here or raise a new issue if you find problems with the way in which GatorGrader displays check output or diagnostic information.

[2018-08-22 15:07] #38 closed

[2018-08-22 15:08] gkapfham commented on #39
I have finished the implementation for this issue. Now all of the code has been simplified and refactored so that it is in testable functions in other modules in the gator package. If you find problems with the minimal main function that currently exists, then please comment here or raises a new issue.

[2018-08-22 15:08] #39 closed

[2018-08-22 15:27] gkapfham commented on #44
I have refactored some of the functions in the invoke module so that they call a function that will update the report. While more code duplication is likely possible, I think that current system meets the requirements for this issue. If you see new ways to avoid code duplication in this module, please comment here or raise a new issue.

[2018-08-22 15:27] #44 closed

[2018-08-22 15:45] gkapfham commented on #26
Hello @Michionlion, @toccinAC, and @castellanosr, I have added a feature that allows GatorGrader to return a JSON object instead of text. However, currently there is not yet a command-line argument to enable this feature. I can add in the requested command line argument once the Gradle plugin is updated to accept and parse JSON.

[2018-08-22 15:51] gkapfham commented on #25
I have completely refactored the GatorGrader command-line interface and the internals so that all of the checks are now atomic. This means that the tool now only allows you to perform _one_ check for each invocation. For instance, this means that you can no longer check if a file exists and look for fragments inside of the file --- this would now be done in two separate checks. Since this feature

[2018-08-22 15:51] #25 closed

[2018-08-22 16:30] gkapfham commented on #37
Hi @Michionlion, yes, I think that  I could implement this feature. I will look into it today and report back. Thanks for suggesting this idea.

[2018-08-22 18:50] gkapfham commented on #46
I have fixed all of the linting mistakes in the gator package. In some cases, I relaxed a setting in Pylint so that it would allow, for instance, one more parameter or slightly more code branches in a function. Now that Travis CI is also running this linting, I am going to close this issue. Please comment here or raise a new issue if you have concerns about the way in which we run linters on the G

[2018-08-22 18:50] #46 closed

[2018-08-22 20:04] gkapfham commented on #37
Hello @Michionlion and @jjumadinova, I have updated this feature so that it works in the new way. Now, GatorGrader will disregard blank lines when counting lines in source code, writing, or program output. Please let me know if there are any other issues that I have overlooked for this feature. For now, I am going to close this issue. Please comment here or raise a new issue if you discover any pr

[2018-08-22 20:04] #37 closed

[2018-08-22 20:11] gkapfham opened #52 "Consolidate global constant variables in a single module"
Currently, there are several constant variables that are re-declared across modules in GatorGrader. Those variables should be consolidated so that changing and testing them will be easier. With that said, please note that there are some constant variables that are only used in a specific module and those do not need to be moved to the new module that consolidates the other variables.

[2018-08-24 21:44] gkapfham opened #56 "Make tests for the invoke module more stringent"
Current the tests in the `test_invoke` suite are achieving full statement coverage. However, the tests do not have stringent checks on the status of the function under test, like `invoke.invoke_all_fragment_checks`. These tests should actually inspect the results of the report that is populated after performing the check and make sure that it contains the expected results.

[2018-08-24 22:26] gkapfham commented on #7
@Michionlion, @toccinAC I have finished the implementation of this feature. As such, I am going to close this issue. If you notice any problems with this implementation or the way in which it was tested, please comment here or raise a new issue as appropriate.

[2018-08-24 22:26] #7 closed

[2018-08-24 22:28] gkapfham commented on #7
@jjumadinova, there is now a complete implementation of the testing for the exact number of, for instance, lines of source code or program output. We can use this to check for class participation. @Michionlion confirmed that the approach we suggested (i.e., add a remote for a student repository and asking them to pull) will work correctly. Now that this feature is implemented, we can check if a st

[2018-09-04 16:45] Michionlion opened #59 "Command check bug"
The command check has two issues with it -- the first, a minor one, is that an incorrect/misleading message is set as its `check` output, as shown below.

[code]

Second, the `--executes` flag does not work. The following error output happens, no matter the command run.

[code]

[2018-09-06 02:26] gkapfham opened #61 "Do not use platform specific features in the test suite"
Currently the test suite uses the execution of commands like `ls`, which may not be available on a Windows computer. This means that the test suite is unlikely to pass when run like this:

[code]

on a windows machine that does not have a command like `ls` available for use. The test cases should be improved to be more platform independent while still testing functionality in an easy way. Perhaps

[2018-09-06 03:31] gkapfham commented on #59
Hello @Michionlion, thanks for raising this issue. I have resolved all of the problems that you outlined in this example. With that said, I should note that I don't think that, as the sample labs are currently written, it is possible to use GatorGrader correctly when it is called from the Gradle plugin. Please refer to this issue:

https://github.com/travis-ci/travis-ci/issues/8408

I think that i

[2018-09-06 03:35] gkapfham commented on #59
Also, @Michionlion and @jjumadinova, I would like to point out that I have added, as part of the resolution to this issue, code that fully supports the `--executes` flag. This means that it should be the case that `--executes` works and, additionally, all of the problems are resolved with, for instance,  `pipenv run python gatorgrader.py --nowelcome --json --command "true" --count 0`.

For the sak

[2018-09-06 03:37] #59 closed

[2018-09-06 03:40] gkapfham opened #62 "Update the README to give correct output of running the tests"
The current documentation does not show the current output of the test suite. As such, this should be updated. Additionally, the documentation should be clarified to indicate that this is a sample run that may not reflect the current state of the program's source code and test suite.

[2018-09-06 03:42] gkapfham commented on #41
I have fully resolved this issue and thus I am closing it now.

[2018-09-06 03:42] #41 closed

[2018-09-06 03:42] gkapfham commented on #40
Hello @toccinAC and @castellanosr, I have finished this issue and I am closing it now.

[2018-09-06 03:42] #40 closed

[2018-09-13 13:30] gkapfham opened #63 "Update the README to list both/all current sample labs"
The current version of the README points to the single sample laboratory repository. However, this has now been divided into two sample labs, one for a "starter" repository that would be given to students and one for a solution repository for a professor. Both of these links should be included. Once more of these sample repositories are available, then there should be a separate section in the REA

[2018-09-13 13:32] gkapfham opened #64 "Add new sample lab links for various courses"
Currently, the README file only links to sample repositories for assignments if they are part of the `GatorEducator` organization. However, there should also be links to sample repositories that are in different organizations such as courses for a wide variety of topics and levels. We should work together to identify representative laboratory assignments and then list them in the documentation.

[2018-09-13 13:36] gkapfham opened #65 "Implement Robustness Testing with Hypothesis"
While GatorGrader currently has a high coverage test suite, it is good idea for us to perform additional testing, perhaps by using a tool like Hypothesis to generate random input values. These tests could be marked separately and, perhaps, not during during the Travis CI build. However, this new type of testing could be useful for finding hard-to-discover bugs in "corner cases" of, for instance, p

[2018-09-13 13:39] gkapfham opened #66 "Perform mutation testing to assess the adequacy of the test suite"
Even though GatorGrader has a high-coverage test suite, it would be a good idea for us to assess the quality of the tests through the use of a mutation testing tool. There are several mutation testing tools for Python, such as MutPy and Cosmic-Ray. However, we would need to investigate the types of mutation operators employed by these tools and learn how to introduce them into our build system.

[2018-09-13 13:41] gkapfham opened #67 "Introduce parallel test suite execution and measure performance benefits"
The existing test suite for GatorGrader always takes less than 10 seconds to run, even when it is collecting coverage information for the entire test suite. However, it would be ideal if we could reduce this execution time to less than 2-3 seconds so that the tests can be run on a very regular basis during development. As such, it might be useful to investigate the use of a tool like `xdist` and s

[2018-09-13 13:49] gkapfham opened #68 "Add feature to check commit messages for specific fragments and/or length"
The current implementation of GatorGrader can only count the number of commits in a repository past a certain number. However, it would also be useful if the tool could look for fragments inside of a commit message. For instance, one idea would be that students must add a numerical rating for their level of frustration associated with that commit. Alternatively, GatorGrader could check to see if t

[2018-09-13 13:53] gkapfham opened #69 "Document new strategies for running the test suite"
The README currently documents a few of the representative ways in which you can run GatorGrader's test suite. However, it is a good idea for us to include additional commands and then explain what they do. For instance, when debugging GatorGrader, it is a good idea for a developer to first run (or, exclusively run) the test case that previously failed. Since Pytest has features that support all o

[2018-09-26 18:29] jjumadinova opened #70 "Create a repository containing a sample assignment written in Python"
Could we have a sample repo created that uses GatorGrader to check Python programs and not Java? Is PyGradle recommended for GatorGrader use?

[2018-09-28 19:30] Michionlion commented on #70
I've started this in the [python-starter](https://github.com/GatorEducator/python-starter) repo. What exactly are the ideas for requirements? PyGradle is very complex and uses `setuptools` along with a lot of dependency management plugins. It may be simpler to use a smaller plugin that simply provides the tasks to run python programs, depending on what you have in mind.

[2018-09-28 20:46] Michionlion commented on #70
I've finished a basic sample using the `use-python` plugin, which is considerably simpler than PyGradle and does similar things. Any further discussion on requirements, etc, should be held in the [python-starter](https://github.com/GatorEducator/python-starter) issue tracker.

[2018-09-28 20:46] #70 closed

[2018-10-02 14:42] gkapfham commented on #70
Hi @Michionlion, thanks for creating this new sample repository. I know that you have already created a new repository and closed this issue. However, I thought it would be useful to put a few follow-on points here:

- @jjumadinova, can you tell us which features you would like the repository to demonstrate?
- @Michionlion, can you explain a little about the `use-python` plugin?
- @Michionlion, ca

[2018-10-02 15:14] Michionlion commented on #70
I'll use this space to explain about `use-python`, I've also created issues for the relevant TODO items in the [python-starter](https://github.com/GatorEducator/python-starter) issue tracker.

So, `use-python` provides two basic pieces of functionality: first, it provides an interface to an external version of python (installed globally, through `pyenv`, or just at some path) that unifies task cre

[2018-11-29 12:44] gkapfham opened #73 "Fix the paragraph checks that don't disregard markdown syntax"
It seems as though a Markdown list will be counted as a paragraph when it should not be. This means that paragraph checks for a specific number of words will not pass because they are considering the Markdown list, or perhaps part of it, as a paragraph and noticing that it does not have the required number of works. This is connected to Issue #45 which requests new test cases for this same block o

[2018-12-12 18:35] gkapfham opened #74 "Fix the broken link to a sample lab in the README file"
There is a link at the very end of the README file that still references the old GitHub repository for the sample laboratory assignment. In line with Issue #63 and #64, this link should probably be deleted. Overall, this site should maintain a curated list of all of the sample repositories.

[2018-12-12 18:37] gkapfham opened #75 "Create new sample repository for LaTeX documents"
While we currently have several sample repositories available, those probably need to be updated to illustrate the wide variety of checks that are now available. Also, we need to create a new sample repository that includes checks for LaTeX source code. For instance, we should consider having checks for algorithms, equations, technical writing references, and bibliographies. In some cases, this mi

[2018-12-12 18:39] gkapfham commented on #73
It is also important to note that this check might require the use of a full-fledged Markdown parser.

[2018-12-12 18:42] gkapfham opened #76 "Add a feature to support checks of the GitHub issue tracker"
If students are required to perform some type of code or writing review this may lead to discussions in the issue tracker. These discussions are not a part of a GitHub repository but rather part of GitHub itself. As such, it would be useful it GatorGrader could access the issue tracker for a repository and check that issues were created, discussed, and then closed. There is a REST API that support

[2018-12-16 22:44] gkapfham opened #77 "Support regular expressions for the checking of files or other entities"
It would be a good idea if this tool could support the specification of files through either regular expressions or file wildcards. This would then make it possible to perform checks like "there must be three Java files in a specified directory" and thereby enable a wide variety of different checks for, say, a final project.

[2018-12-23 02:36] gkapfham opened #78 "Add a logo and a key features list to the start of README"
The README file should feature a logo and a short description of the key features of the tool. Currently, the start of the README is too wordy and does not describe why someone would want to use the tool. Also, the other starting paragraphs should be divided into shorter ones!

[2019-01-02 16:30] schultzh opened #79 "gatorgrader will not pull/update"
When attempting to use gradle grade on assignments, I continually get an error saying `gator grader does not exist.` However, the program is installed on my laptop. I feel that this means the program will not pull gradle grade to run it in terminal.

[2019-01-02 16:38] schultzh opened #80 "Multi-line Javadoc comments cause GatorGrader to enter into an infinite loop"
When working on Lab7 assignment for CS100F2018 gradle grade would not finish executing due to the format of java doc comments within. I tested each comment individually and each one produced the same issue.

[2019-01-02 17:51] gkapfham commented on #80
Hello @schultzh! Thanks for reporting this issue, I really appreciate it. Could I trouble you to please either upload or paste in the full source code that is causing the problem? Once you do this, then we can try to  use GatorGrader with exactly this source code and decide if this is a problem in the Python source code of GatorGrader or in the Gradle plugin, written in Java, that you use to invok

[2019-01-03 03:07] gkapfham opened #81 "Consider the adoption of a general-purpose Markdown parser"
There are some current issues, like #45 and #73, that will require us to revisit the way in which we parse the Markdown content. Currently, this parsing happens through the use of regular expressions. In the future, it would be much better to use a Python-based Markdown parser that produces a parse tree. We can then traverse this parse tree and check that the correct aspects of Markdown are eviden

[2019-01-03 03:11] gkapfham opened #82 "Consider use of a pytest plugin for highlight of data when test fails"
It might be useful to start using the `pytest-clarity` plugin so that when a test case fails it is possible to highlight the differences in the data that lead to test failure. This is the web site for this plugin: https://github.com/darrenburns/pytest-clarity. If this plugin is added, then we should consider whether or not we want to highlight its use in the README file.

[2019-01-03 03:17] gkapfham opened #83 "Add check for multiple-line Python docstring comments"
Although it is possible to have multiple-line comments in Python in the form of docstrings that are part of, say, a function's description, the GatorGrader tool does not have a check for these. We should add this feature to the tool so that it is possible to ensure that a Python program has an adequate number of docstrings. We would need to either add a regular expression for docstrings or perhaps

[2019-01-03 15:35] schultzh commented on #80
[code]

[2019-01-03 15:36] schultzh commented on #80
[code]

[2019-01-03 23:20] gkapfham commented on #80
Hi @schultzh! Thanks for sharing this source code. Once @Michionlion and I have time, we will try our installed version of GatorGrader on this source code and see what happens. @Michionlion, I think that the first step should be to determine if this is a problem in the Python code or the Gradle plugin. Do you have time to quickly investigate that matter?

[2019-01-17 23:04] Michionlion opened #85 "Organize the master branch by tagging releases"
Tagging releases with a tag such as `v1.2.4` (`vmajor.minor.patch`) would enable version pinning, so that backwards compatibility is not always absolutely essential, and any future changes only apply to future labs. In order to accomplish this, we should only need to tag commits with the correct version using `git tag <version>`, however this should be automated, which requires some consideration

[2019-01-17 23:10] Michionlion opened #86 "Discussion: should old, outdated branches be deleted?"
The topic here is whether or not old branches should be kept. The main reason I would advocate for deleting these branches is that all of them reference commits that are already present in master -- they are not needed to access these commits. Additionally, they might make interacting with the repository confusing for some first time users of branching.

However, we should not delete stale but dif

[2019-01-24 20:53] gkapfham commented on #86
Hello @Michionlion, thanks for raising this issue. Yes, I think that it would be a great idea to delete all of these old branches. If you have time, you are welcome to delete them and then close this issue. If you are currently pressed for time, please let me know and I can delete them all in the next few days. It is a quick task to complete --- I just have to find enough time!

[2019-01-24 21:03] gkapfham opened #87 "Run tests on multiple Python versions and operating systems"
It would be really useful if we always ran this project's test suite in multiple versions of Python when testing in Travis CI. It seems like it might be possible to achieve this by using some combination of Pyenv and Tox. Can someone with expertise on these two systems investigate and determine the feasibility? Overall, I would like to have more confidence that GatorGrader will work in a wide vari

[2019-01-24 21:05] gkapfham opened #88 "Update the instructions for installing Python and Pipenv?"
My recent experiences suggest that potential contributors may struggle with installing a modern version of Python in their development environment and then additionally installing Pipenv. Without both of these systems already installed, you cannot installed GatorGrader's development dependencies and then run the test suite and add new features. While I am concerned about adding too much to the REA

[2019-01-24 23:31] Michionlion commented on #85
There isn't actually a need to release anything -- simply tagging a commit with the relevant version for that commit would be a "release", since gatorgrader is not released in a binary or other build-able format.

[2019-01-25 18:19] miller365 commented on #88
I think that this addition would be excellent. Would you like these instructions for all OS?

[2019-01-25 19:44] miller365 opened #89 "Add a dependency section of the README"
I believe that there needs to be a dependency section clearly outlined in the README file so people know what software they need installed on their computer to use Gator Grader. Maybe a section that combines the installation and statement of these dependencies.

[2019-01-25 21:01] miller365 commented on #61
The only test case that uses platform specific code is test_run.py. In this code there are two different test cases that I think are doing  the same test. Could you elaborate on the function of the test_run_command_grab_output_as_string function vs. test_run_working_command_returns_message function. @gkapfham

[2019-01-25 21:59] miller365 opened #92 "Document style checking in the README"
There should be some information about styling guides for contribution purposes. You will fail the CI test if you haven't adhered to the flake8 tests.

[2019-01-26 02:03] #74 closed

[2019-01-26 05:34] miller365 commented on #83
From some preliminary research I believe that using regular expressions to implement this feature would take some work. We could use pythons Abstract Syntax Tree(ast). To retrieve all of the doc-strings from python functions and classes, much more systematically. I am working on a mock up now. Here is the description of the module here:[https://docs.python.org/3.4/library/ast.html](url)

[2019-01-26 15:07] Michionlion commented on #83
Just as a note, @cs481-team4 is also working on this issue, headed up by @mendezjw.

[2019-01-26 15:21] Michionlion commented on #73
As this issue will be solved by the implementation of #81, I am closing it. If in the future we need alternate solutions, feel free to reopen this issue!

[2019-01-26 15:21] #73 closed

[2019-01-28 13:04] gkapfham commented on #62
It is important to note that coverage is now 100% and thus we need to re-run the test suite to demonstrate this issue. Many thanks to @miller365 for this improvement!

[2019-01-28 15:36] gkapfham commented on #73
Hi, @Michionlion, I agree that it is fine for us to close this issue. I'm looking forward to a full implementation that resolves #81!

[2019-01-28 15:54] gkapfham opened #95 "Add a link to the PyGotham presentation on SpeakerDeck"
The README file currently has links to two of the three recent presentations about this tool. We should also add a link to the following presentation, using the same style as was used otherwise.

https://speakerdeck.com/gkapfham/using-python-travis-ci-and-github-to-effectively-teach-programming

[2019-01-28 19:03] Michionlion commented on #74
A new issue would be the best I think!

[2019-01-29 16:13] #82 closed

[2019-01-29 17:18] gkapfham opened #96 "Add a logo and a project summary"
This project needs to have a logo and a catchy project summary at the start of the README! The logo should be designed in SVG format. Here are some resources:

http://logodust.com/

http://openlogos.org/

Please note that the first site has logos that we can download and try to incorporate. The second page only has logos that we can use for inspiration as they have already been claimed. Once we ha

[2019-01-30 16:34] gkapfham commented on #81
I should further note that I have seen that a paragraph check will count a single line with a link on it as a paragraph. Should the check count that as a paragraph or not? The problem is that some one may write a single line with a link as a kind of "list" and this would then cause the check to fail. I should also note that a Markdown list is likely to also be counted as a paragraph and this too i

[2019-01-30 16:37] gkapfham commented on #88
Yes, if possible, I think that the instructions should support Windows, MacOS, and LInux. @miller365, do you think that it would be possible to write these instructions in a concise way while still ensuring that a person using one of these operating systems can get the steps to work? My view is that using Pyenv would make it easier for people using MacOS and LInux &mdash; I'm not sure, has anyone

[2019-01-30 16:40] gkapfham commented on #92
Thanks for raising this issue @miller365, I agree that it is important that we document the style guide to which we adhere in the README file. I suggest that this documentation point out that we are also adopting the Black code formatting tool to make it easy to keep source code in alignment with the style guide. If you are interested in working on this task, please let us know here. You are welco

[2019-01-30 16:43] gkapfham commented on #89
Hi @miller365, thanks for bringing this issue to our attention! Our goal is to use Pipenv to manage all of the development and application dependencies. So, whatever is currently listed in the `Pipfile` should represent what Pipenv will install for you to do development correctly. With that said, I think that it might be a good idea to include a statement near the end of the README file that menti

[2019-01-30 16:46] gkapfham commented on #85
Thanks for clarifying this @Michionlion. We should talk briefly in person about the issue to decide the best path forward. I'm also wondering whether it *would* be a good idea to tag and then release, say, an archive of all of the files? This would then make it possible for people who do not know how to use Git, but do know how to use Python and Pipenv, to install and use our tool. What is the bes

[2019-01-30 16:49] gkapfham commented on #83
Hi @miller365 and @mendezjw and @Michionlion, thanks for looking into this issue. Once you learn more, please report back here so that we can have an effective strategy for moving forward with a complete and well-tested implementation. I think that this is an important feature to add as Python is one of the main languages that we support and right now we do not have an easy way to check for their

[2019-01-30 16:49] gkapfham commented on #83
Also, @Michionlion, is there a benefit to having the discussion in the other location?

[2019-01-30 16:52] gkapfham commented on #61
Hmm, @miller365, I'm going to have to review the code and get back to you later about the goals of those two test cases! Sorry for the further delay in reply! One thing that we should also be careful about is the use of path separators in the test suite &mdash; as I recall, there are test cases that only use path separators for Linux and thus those test cases will not work correctly on Windows.

D

[2019-01-30 17:14] gkapfham opened #97 "Add new sample repositories for many projects"
The are many types of sample assignment repositories that we do not have yet! While #64 mentions that we need to create a sample repository for LaTeX, it would also be great if we had sample repositories for the following programming languages:

* C and/or C++
* Markdown
* Markdown with images, links, etc.
* HTML with CSS
* HTML with CSS and JavaScript
* R for data science
* Python for data scienc

[2019-01-30 19:08] Michionlion commented on #83
Not really, @gkapfham. @miller365 can you add your post there to this issues?

[2019-01-30 19:09] Michionlion commented on #85
I think we need to explore how to make gatorgrader a `pip` package. That is probably the best way forward in this regard.

[2019-01-30 21:10] gkapfham opened #98 "Add checks that support wildcard specifications"
The current implementation of GatorGrader allows you to specify a check for a specific file. For instance, you can ask GatorGrader to ensure that a specific Java file has a certain number of single-line comments. However, it is not possible right now to specify checks that have "wildcards" for the matching files. If this feature existed, then it would be possible to have a check to ensure that **a

[2019-01-30 23:49] gkapfham opened #99 "Add a license file for the project"
Hello @Michionlion and @jjumadinova and @yeeunmariakim and @miller365, we currently do not have a license for the GatorGrader project. I'm aware of the some of the trade-offs of different open-source licenses and, for some of my recent projects, my colleagues and I have picked the MIT License. Do any of you have a preference for which license we select for this project? We should think carefully a

[2019-01-31 22:51] miller365 commented on #99
I believe that either the MIT License or the GNU General Public License would be good choices for this project. Although I have very limited familiarity with licensing software.

[2019-01-31 23:00] miller365 commented on #98
So after some initial research, there is a way of doing something like this in python using a module called [fnmatch](https://docs.python.org/3/library/fnmatch.html). I think I could handle implementing this if I could get some guidance on how you would want it integrated into the current codebase. Regardless I will start working on this issue.

[2019-02-01 03:51] yeeunmariakim commented on #99
As I do not have much familiarity with open-source licenses, I have no strong preference and will gladly defer to the opinions of those who are more knowledgeable :)

[2019-02-01 03:55] Michionlion commented on #99
I generally like the GNU license, since it requires any new forks or other offshoots to also share their source.

[2019-02-04 15:56] gkapfham opened #100 "A failing existence check does not return a diagnostic message"
If you run an existence check for a file, it seems as though it does not produce any debugging output when the check fails. For instance, please consider this output:

[code]

Note that the check fails because the file does not exist in the specified directory. However, there is no debugging output next to the arrow to indicate why the check failed. While there is not a lot of debugging informatio

[2019-02-05 17:32] gkapfham commented on #85
Okay, that is also what I was thinking. I think that there are a bunch of tools and approaches that can help.

References:

http://brunorocha.org/python/publish-your-python-packages-easily-using-flit.html
https://realpython.com/pypi-publish-python-package/

I think that we can de-prioritize this task for right now. Is that okay with you @Michionlion?

[2019-02-05 17:39] gkapfham commented on #100
Hello @corlettim and @alexheinle and @Michionlion and Hannah (when she is in the organization!), I suggest that we consider working on determining if this is a bug and then fixing it as part of the group study this semester. What do you think? Please respond here and then let us also plan to meet for further discussion.

Some quick points:

* We need to see if we can reproduce this in sample proje

[2019-02-05 17:52] gkapfham commented on #98
Also, @miller365 can you clarify which account you are going to use for contributions? Is is @miller365 or @cmiller365? Since @cmiller365 is already in the GitHub commit log, could I trouble you to add a photograph or an icon to your account so that people can know who you are and talk to you in person about your contributions? Thanks!

[2019-02-05 17:54] gkapfham opened #101 "Add links to all of the available sample assignments"
We have a few sample assignment repositories already available and we need to add links to all of them. I suggest that @corlettim and @alexheinle and @schultzh and @gkapfham work together to fix this issue!

[2019-02-05 17:55] gkapfham commented on #74
Done @Michionlion, there is now #101 for this. I will work on this task with other collaborators.

[2019-02-05 18:16] Michionlion commented on #100
I can attest to seeing this in other examples before -- specifically some of the Web Development labs. I think this would be a good start!

We should figure out a good meeting time for all of the participants, and attempt to hold meetings every week to two weeks.

[2019-02-05 18:17] Michionlion commented on #85
For right now, I agree.

[2019-02-06 20:04] gkapfham commented on #100
Hi @alexheinle and @corlettim and @schultzh and @Michionlion, okay, let's focus here first. I think that the first critical task is to find out which part of the system is running the check and then not producing the correct diagnostic information. Once we discover this, we can start to think about a fix. Please report back here once you have discovered more information. Also, can all of us talk d

[2019-02-07 19:04] lylet-AC commented on #81
Saejin and I discussed different options for a Python based markdown parser.  Some options we came up with were CommonMark, Python-Markdown, and mistletoe.  Saejin will follow up with a picture of the different supported outputs.  Additionally we found a link to the markdown ast documentation here: https://github.com/syntax-tree/mdast

[2019-02-07 19:09] Michionlion commented on #81
![Documentation](http://i.imgur.com/X21ZrnP.jpg)

[2019-02-07 19:11] everitt-andrew opened #102 "Regular Expressions for Capturing Fuller Fragments"
@gkapfham brought up the idea of creating code with more in-depth fragment capture (for expressions). Specifically, he mentioned that a single fragment may not be able to analyze the entirety of certain LaTeX elements such as an enumerated list. Finally, adding this check and those that are similar would allow the system to be useful in additional situations.

[2019-02-07 19:15] everitt-andrew commented on #75
An issue that we've created in our individual repository mentions that we will most likely need to implement new, more in-depth checks for LaTeX code. These checks would focus on whole expressions such as the necessary code in order to implement an element such as an enumerated list.

[2019-02-07 19:21] lylet-AC commented on #81
For finding information in JSON files, @gkapfham recommended [JQ](https://stedolan.github.io/jq/) or [glom](https://github.com/mahmoud/glom).

[2019-02-07 19:26] leonardoz15 commented on #75
We've also discussed implementing a linter for LaTeX files in order to keep all styling uniform outside what the default LaTex checker produces. I raised this as an issue [#3](https://github.com/GatorEducator/latex-assignment-starter/issues/3).

[2019-02-08 20:54] gkapfham commented on #85
Just as a reminder, if we want to actually perform a release of files through GitHub, then I recall that this will involve creating a certain type of .tar.gz file and then a wheel. Those are the types of files that are uploaded to https://pypi.org/. Again, using tools like Flit might help. We can also consider using Poetry instead of Pipenv, or perhaps, using both Poetry and Pipenv or both Flit an

[2019-02-08 21:18] gkapfham commented on #102
Hello @everitt-andrew, I have transferred this issue to this repository because we would need to add this feature to GatorGrader itself. After talking with @Michionlion we agree that it was best to focus on the issue here.

[2019-02-08 21:22] gkapfham commented on #102
Quick notes about this feature: the idea is that a person using GatorGrader should be able to specify a regular expression and then the tool would check to see if the command or file contains contents that match that regular expression. This would help to specify checks like: "contains <div>, any valid HTML, and </div>". This could also be useful for checking for the existence of certain LaTeX env

[2019-02-08 21:23] gkapfham commented on #81
Hello @lylet-AC, if you and your colleagues gain some experience with these tools, please report back here! There are several others in our organization who are consider Glom for various parsing purposes.

[2019-02-08 21:25] gkapfham commented on #75
Hi @everitt-andrew, there is now #102. Thanks for pointing out this issue. I think that we should aim to soon implement this feature!

[2019-02-08 22:31] Michionlion commented on #81
@gkapfham, we are actually moving away from glom and tools like it to read Jason, drive with more research, we determined that it was actually possible to remove the intermediate data representation step (json) and simply directly interface with the generated AST.

[2019-02-11 01:35] gkapfham commented on #81
Thanks for the update @Michionlion, using the AST directly sounds fine with me. Once there are basic features to test, please point me in the direction of the correct branch and/or PR and I can test this new feature and provide feedback. Perhaps you can demonstrate some preliminary feature this week on Thursday? That is, maybe you could show the input Markdown file, the output AST, and a step in t

[2019-02-11 01:58] gkapfham commented on #102
It is important to note that parsing HTML with regular expressions is difficult. As such, if we want to really support this type of check with GatorGrader, then it would make more sense to add a new parameter for HTML fragment checking, say `--html` and then the specific tag or fragment to check.

References:

https://stackoverflow.com/questions/3524364/regular-expression-to-match-closing-html-tag

[2019-02-11 03:27] Lancasterwu opened #103 "Installation on WSL Failed with the Warning of Illegal Access"
I was using WSL(Windows Subsystem for Linux) to install gradle and trying to run `gradle grade`. The build failed with the following error:
[code]
I'm wondering if I did something improperly or it is a bug with the installation of gatorgrader on WSL.
Thanks!

[2019-02-11 04:58] Michionlion commented on #81
Certainly! Let me outline the plan that my team created to tackle the issue.

First, since the documentation is nonexistent for CommonMark-py, a sub-team will tackle the job of figuring out the API and specification. Then, an implementation team will start work on possible solutions, while the API team assists them (in finding definitions, etc.). Finally, a code review team will review produced co

[2019-02-12 18:03] Michionlion opened #104 "Possible bug - check_words does not check for directory or file flags"
The method is located in [orchestrate.py#L147](https://github.com/GatorEducator/gatorgrader/blob/dc8cb6021c543a0435a0fd11e661158b33db8c86/gator/orchestrate.py#L147).

It seems many other checks are not as fully validated as they should be.

[2019-02-13 20:15] huangs1 commented on #81
This is the psuedocode that we created to replace the function `get_paragraph()` in `fragments.py`.
[code]

[2019-02-14 18:54] bristola commented on #102
To count the number of matches a user input regular expression are found in a string, we could use the following code:

[code]

[2019-02-14 19:37] Michionlion commented on #102
This kind of code should be integrated into the fragment checks in `fragments.py`.

[2019-02-17 22:25] dubswalker commented on #96
I'm drawing a logo from scratch. Should I use the exact same font theme and colours from the college's logo [graphic standards](https://sites.allegheny.edu/collegerelations/graphic-standards/)?

Would we have to worry about any copyright from the school or anything of that nature? Or should I use a different but similar colour theme

[2019-02-20 00:17] #99 closed

[2019-02-20 21:14] Michionlion opened #110 "Major check system refactor"
The check system should be refactored to remove composability and instead use named checks, along with modifiers. These checks should take on the form of existing combined possibilities, such as `command-output-has-fragment`. This check can then be combined with modifiers, such as `count` and `exact`, to change the end requirements of the check.  All of these checks should be well documented.

Fut

[2019-02-20 21:51] Michionlion opened #111 "Remove pytest-clarity"
According to two issue in the pytest-clarity repo ([#8](https://github.com/darrenburns/pytest-clarity/issues/8), and [#7](https://github.com/darrenburns/pytest-clarity/issues/7)), pytest-clarity both causes extremely verbose output (even in passing tests), and conflicts with pytest-xdist. We should therefore remove pytest-clarity.

[2019-02-21 00:35] burrowss commented on #102
We are working on implementing regex in the branch for this issue. We are aiming to add these checks into fragments.py and create a new argument to find Latex expressions.

[2019-02-21 01:14] Michionlion commented on #102
What exact argument would you need to find Latex expressions? I would be hesitant to add more custom commands if they are not needed.

[2019-02-21 01:19] burrowss commented on #102
We could use regular expression fragments to find Latex and add it into the fragments argument if that is a better solution. I was just unsure of whether it was better to make a new argument or add to the fragments

[2019-02-21 01:23] Michionlion commented on #102
If it can be accomplished by adding regex support or a new argument for regex support instead of latex specific hard-coded regexes, it should definitely be done without hardcoding.

[2019-02-21 01:28] burrowss commented on #102
It should be able to be done with a new argument for regex support so I will look into adding it to the fragment command

[2019-02-21 02:40] #111 closed

[2019-02-21 18:55] everitt-andrew commented on #75
We have completed the LaTeX sample repository with basic checks for single line fragments. We are now moving on to [Issue 102](https://github.com/GatorEducator/gatorgrader/issues/102) which focuses on capturing regular expressions.

[2019-02-21 18:55] everitt-andrew commented on #75
We have completed the LaTeX sample repository with basic checks for single line fragments. We are now moving on to [Issue 102](https://github.com/GatorEducator/gatorgrader/issues/102) which focuses on capturing regular expressions.

[2019-02-21 18:55] #75 closed

[2019-02-26 18:24] #45 closed

[2019-02-26 18:24] #81 closed

[2019-02-26 23:25] baldeosinghm commented on #68
Currently working on this issue to check if commit messages meet a length requirement.

[2019-02-28 02:15] mendezjw commented on #87
After some initial research, I think that the Travis CI documentation solves the need for testing multiple python versions and different operating systems through the use of a matrix. Do we know which python versions we are looking to test besides python version 3.6? I have included the link for reference.
https://docs.travis-ci.com/user/multi-os/

[2019-02-28 04:00] Michionlion commented on #87
I'm actually working on this and have a nearly complete and working setup on the `feature/travis-ci-multiple-jobs` branch.

[2019-03-07 18:06] Michionlion opened #119 "Add check for markdown tags in a file"
This check should be able to be run in the following ways:

[code]

It should adopt the same style as the `--fragment` argument.

What do @gkapfham and any others think of the `--markdown` flag? Should it be `--markup` or `--md-tag`? Any feedback is appreciated.

[2019-03-07 18:09] Michionlion commented on #119
There is currently a development effort towards implementing this check in the [`feature/markup-tag-check`](https://github.com/GatorEducator/gatorgrader/tree/feature/markup-tag-check) branch.

[2019-03-07 18:35] Alex-Yarkosky commented on #97
Update on where this issue currently stands, it seems that there are currently four of these already included as repositories within the organization. Those being, [Java](https://github.com/GatorEducator/java-assigment-starter), [LaTeX](https://github.com/GatorEducator/latex-assignment-starter), [HTML with CSS](https://github.com/GatorEducator/HTML-CSS-assignment-starter), and [Python](https://git

[2019-03-07 18:46] lylet-AC commented on #97
I believe that the current Python repository is for a general Python submission, and thus, different repositories for specific focuses are still necessary.

[2019-03-07 18:48] lylet-AC commented on #97
I also agree with @miller365.  I am attempting to set up gatorgrader on one of my existing repositories for discrete structures and I have on clue where to begin.  Additional documentation seems entirely necessary as a precursor for this issue.

[2019-03-07 19:04] Alex-Yarkosky commented on #97
For who will be handling what, @shafferz will take on C and/or C++, Markdown, & Markdown with images, links, etc., @Alex-Yarkosky will take on HTML with CSS & HTML with CSS and Javascript, & @lylet-AC will take on R for data science, Python for data science, & Python for discrete structures.

[2019-03-07 19:24] Alex-Yarkosky commented on #97
@lylet-AC @shafferz one check that we should always have is to make sure that there are exactly 0 TODOs in all applicable files after speaking @gkapfham in person about this issue more.
Additionally, I will keep in mind to check the fragments, and the existence of a screenshot for the HTML examples.

[2019-03-07 20:32] Michionlion commented on #97
@lylet-AC You should have a good reason to split Python samples into two labs -- is there a real reason for that?

[2019-03-14 01:16] karolvargas commented on #61
after testing on a windows and looking through the test classes. There are at least 6 files which are OS dependent due to path finding syntax specific to linux. This can be resolved using the pathlib library in python but this would call for a major refactor of the code as well as further research into what out of the main directory (gator) also uses OS specific path finding to linux.

[2019-03-14 15:26] ohnoanarrow commented on #63
Could you clarify which repository links you're referring to? The closest I found to what you're describing are four links at the bottom of the README which lead to Github Classroom pages. These pages contain repositories which contain all of the course's labs, but no solutions. Thank you!

[2019-03-14 16:12] baldeosinghm commented on #96
I'll continue work on the logo's project summary in the README.

[2019-03-14 16:15] karolvargas commented on #69
Updated README.md with documentation on how to run pytest for a specific test that failed as well as how to run other pytest commands

[2019-03-14 17:07] Michionlion commented on #69
@karolvargas, what #PR was that was that merged in? It can be useful to link to the work here; then this issue can be closed.

[2019-03-14 17:54] karolvargas commented on #69
I apologize I had forgot to link it @Michionlion . It is #129

[2019-03-14 18:14] Alex-Yarkosky opened #131 "No CONTRIBUTING.md or CODE_OF_CONDUCT.md"
In order to improve the state of this project as an open source one, these proposed files should be included to make it easier to contribute in a productive way in accordance with the need outlined [here](https://opensource.guide/). I suggest that the Code of Conduct be taken from [here](https://www.contributor-covenant.org/) to avoid having to create one from scratch. GitHub also has some suggest

[2019-03-14 18:21] Alex-Yarkosky opened #133 "No templates for raising issues or making pull requests"
Adding these templates should be considered in order to make it easier to contribute to this as an open source project and provide uniformity. The need for these are outlined [here](https://opensource.guide/). These files are also suggested on the [Community](https://github.com/GatorEducator/gatorgrader/community) page.

[2019-03-14 20:46] #66 closed

[2019-03-14 21:03] #95 closed

[2019-03-15 00:36] Alex-Yarkosky commented on #131
Also, [here](https://github.com/AVMf/avmf/blob/gradle/CONTRIBUTING.md) is a `CONTRIBUTING.md` file that I made for another project, AVM*f*

[2019-03-28 14:32] gkapfham opened #135 "Delete Java Code and Re-Write Tests to Generate This Input"
Right now GatorGrader includes a Java source code program inside of its repository, which is not ideal. The test cases should be re-written so that they create this file in an internal, in-test directory that is only available during testing. This will then ensure that the main GatorGrader repository does not contain Java source code inside of it!

[2019-03-28 16:41] Michionlion commented on #100
I'm closing this as PR #118 was merged.

[2019-03-28 16:41] #100 closed

[2019-03-28 16:53] Michionlion commented on #67
I investigated this and it seems that even with a quad-core desktop, using `xdist` actually causes longer test times because of the collection time. Although `xdist` is now supported (one can simply add `-n auto`, it is not the optimal execution strategy. `xdist` is also not specified in the current `Pipfile`, so would need to be added by each individual developer who wanted to use it.

[2019-03-28 16:55] #67 closed

[2019-03-28 16:56] Michionlion commented on #87
This was merged in PR #121.

[2019-03-28 16:56] #87 closed

[2019-03-28 17:15] Michionlion commented on #63
#101 duplicates this issue.

[2019-03-28 17:15] #63 closed

[2019-03-28 19:43] #83 closed

[2019-03-28 19:44] #96 closed

[2019-03-29 20:11] gkapfham opened #136 "Add SVG of the Logo to the Hidden GitHub Directory"
Now that we have a new logo, it would be a good idea if we could also store the SVG file. This would make it easier for us to manipulate the logo or to leverage its high quality as a starting point for other logos. I suggest that we store this logo in the `.github` directory. Does that seem okay @dubswalker and @Michionlion?

[2019-03-29 20:14] gkapfham opened #137 "Checks on Git Repository Crash when Run in Non-Repository"
Although I have not yet tested this extensively, I have observed that GatorGrader checks for, say, the number of commits in a Git repository will lead to a tool crash when run in a directory that is not, in fact, a GitHub repository. This means that we should instead be first checking to ensure that GatorGrader is in a Git repository before the checks are actually run. I will confirm this issue an

[2019-03-29 20:50] Michionlion commented on #136
As long as we continue to use the `png`, which is needed for firefox compatibility, when displaying the logo, I think that would work.

[2019-03-30 20:15] Alex-Yarkosky opened #138 "Feedback for failing minimum word count inadequate"
When `--words` is used in `gatorgrader.yml` to require a minimum number of words is met in the paragraphs detected, the current feedback only tells the user of the smallest word count found in all of the paragraphs it checked. It would be much more useful to the user if instead it told how many words it found in each of the paragraphs. This would allow the user to keep track of their progress if t

[2019-04-02 22:59] corlettim opened #139 "Fix markdown in README"
Typing errors within the README file such as a lowercase g for Git as well as a bad order of information  like the introduction to starter repos being too far down in the README. They should be towards the start of the README because that is what users will have to reference.

[2019-04-02 23:00] schultzh opened #140 "Update diagnostic message for "did not find file" check"
Add a more specific diagnostic message, making check more clear.

[2019-04-02 23:03] alexheinle opened #141 "Fix Gradle introduction to checks"
Fix grammar mistakes in the introduction of Grader Gradle.

"Managing GatorGrader python dependencies..."

[2019-04-02 23:56] Michionlion commented on #140
@schultzh, just so that we get more information in this discussion, why is a more specific diagnostic message needed (ie what information are we missing)?

[2019-04-02 23:57] Michionlion commented on #139
@corlettim this issue needs more clarity -- where are what exactly are the problems?

[2019-04-03 00:48] corlettim commented on #139
@Michionlion is that ok now?

[2019-04-03 17:33] #88 closed

[2019-04-03 19:23] #119 closed

[2019-04-03 21:41] schultzh commented on #140
@Michionlion The check is currently missing _which_ file has not been found.

[2019-04-04 22:42] #102 closed

[2019-04-05 00:06] #110 closed

[2019-04-05 19:49] #140 closed

[2019-04-05 22:05] Michionlion commented on #78
This was fixed by #120

[2019-04-05 22:05] #78 closed

[2019-04-06 10:34] Michionlion opened #145 "Use PR-tag-release to automate GitHub releases"
**Is your feature request related to a problem? Please describe.**
It's really annoying to have to manually add tags and ensure that everything builds correctly.

**Describe the solution you'd like**
I really want to just be able to merge a PR and if that PR is formatted correctly, a corresponding version and release created.

This is possible with a tool I have been developing called [pr-tag-rele

[2019-04-06 19:05] gkapfham commented on #135
It is worth noting that this is not _exclusively_ related to testing GatorGrader. The sample program is also used as an example in the README file. However, I suggest that @schultzh and @corlettim and I rewrite this part of the documentation to instead refer to a file that exists inside of the GatorGrader distribution, say, for instance, the main `gatorgrader.py` file.

[2019-04-06 19:08] gkapfham commented on #138
Hello @Alex-Yarkosky thanks for raising this issue. One of our design goals is to ensure that the diagnostic message is always a single line. What would you suggest we do if GatorGrader is checking a document that contains a lot of technical writing with many paragraphs? How do you think it would be best to maximize the use of the single line that we have to give feedback to the user of the tool?

[2019-04-06 19:13] gkapfham commented on #139
Hello @corlettim can you please specifically mention the improvements that you think are important to make about the execution of the test suite. It might help us to work on this together if you made a list of the changes that you would like to introduce to the documentation. Thanks for your help on this!

Also, @schultzh I think that you have some new ideas for improving the documentation. Could

[2019-04-06 19:14] gkapfham commented on #136
Yes, @Michionlion I agree that we should use the PNG file. With that said, I would like to keep the SVG file so that we can modify the logo if, for instance, we want a smaller version to print on a sticker.

[2019-04-06 20:50] Alex-Yarkosky commented on #138
@gkapfham if the message should be contained within one line, one idea to consider would to only report on the paragraphs with less words than required giving the user the number of the paragraph and how many words it detected. An example of how this might look would be:
[code]
An example of the same message with sample numbers in it would look like the following:
[code]
This has the possibility o

[2019-04-06 21:32] gkapfham opened #146 "Do not use "magic strings" in fragments.py"
**Describe the bug**

The current `fragments.py` file contains source code like this:

[code]

I think that it would be better if the program did not use words like `"paragraph"` and instead defined variables inside of the function that contained this string. This would better support refactoring in the circumstance in which these strings happen to change and better adhere to the standard that we

[2019-04-07 02:33] Michionlion commented on #138
It may be enough to simply show which paragraph number has the minimum number of words, and what that minimum is.

[2019-04-07 02:36] Michionlion commented on #133
This was merged with PR #144.

[2019-04-07 02:36] #133 closed

[2019-04-07 02:48] Alex-Yarkosky commented on #138
@Michionlion that would be an appreciated improvement, what I was suggesting is just a step beyond that in order to provide the user as much information as possible as I see doing so of use

[2019-04-08 14:07] gkapfham commented on #131
Thanks for opening this issue and sharing these examples, @Alex-Yarkosky. I will work on this task in the next few weeks. If you have time and are interested in doing so, you are also warmly invited to work on this task.

[2019-04-08 20:13] hodevin opened #147 "Incorrect link to Python website."
Clicking on `the Python's website.` in `README.md` directs the user to ERROR 404 because it is not found. It should direct the user to `www://https.python.org` instead.

[2019-04-08 20:15] hodevin commented on #147
Solved in pull request

[2019-04-08 22:10] Michionlion commented on #147
This issue should remain open until the PR is merged -- the 'fixes' notation will ensure this is done automatically.

[2019-04-08 22:12] #147 closed

[2019-04-10 03:00] schultzh opened #150 "Add all contributors feature to README file"
Replace current contributors section in current `README.md` file to pull contributors information from their GitHub accounts.

[2019-04-13 16:00] schultzh commented on #150
@gkapfham @Michionlion @corlettim @alexheinle
I've done some more research on the All Contributors feature. There are two ways to implement this feature.
1) Install from NPM as a dependency
2) using the all contributors bot

From what I can tell, using the bot involves more maintenance on our end, needing someone to call the bot and the contributor you want to add to the table, where the CLI maint

[2019-04-15 18:19] Michionlion commented on #150
I think the bot will probably be better; I want to both avoid extra dependencies within our own code, and enable better control. It seems the bot should be able to do that -- manually specifying contributors is probably a good idea, because then control can be easily exercised over that list.

[2019-04-15 18:34] schultzh commented on #150
Okay! I will have more details for our meeting on Wednesday.

[2019-04-16 01:46] schultzh opened #153 "missing common mark module"
I cannot currently use Gradlee Grade effectively on my personal laptop. I am receiving the following errors:

[code]

This error repeats for each check within the repository. I assume that it is something my laptop is missing, however, I wanted to bring it up and make sure.

[2019-04-17 11:26] gkapfham commented on #150
Thanks for investigating this issue @schultzh. I agree with the point raised by @Michionlion. Overall, we probably want to adopt the automated approach. But, there may be some cases in which we need to manually designate someone as a contributor --- like in the case when someone designs a logo and there is not an easy way for the bot to notice this. Okay, looking forward to your report later today

[2019-04-17 11:27] gkapfham commented on #69
Hello @Michionlion and @karolvargas, I am going to close this issue as I think that the PR has solved it appropriately. Please reopen if you think that there are other issues that we still need to handle!

[2019-04-17 11:27] #69 closed

[2019-04-17 11:28] gkapfham commented on #68
Hello @baldeosinghm can you please update as to whether or not you finished working on a PR that resolves this issue? Your note is the last one in the issue tracker and thus I wanted to check with you today! Thanks for any updates that you can share!

[2019-04-17 11:30] gkapfham commented on #61
Thanks for this update @karolvargas. If you have time and you are interested, we would love to have you submit a PR to resolve this issue. If not, then we of course understand and would appreciate it if you could point someone else to this issue. Thanks again for your diagnosis of the problem!

[2019-04-17 17:16] schultzh opened #155 "test all contributors bot"
@all-contributors please add @gkapfham for talk

[2019-04-17 17:18] Michionlion commented on #155
@all-contributors please add @gkapfham for talk

[2019-04-18 15:04] #155 closed

[2019-04-18 20:05] #150 closed

[2019-05-08 20:26] #136 closed

[2019-05-08 20:30] #77 closed

[2019-05-21 22:03] #85 closed

[2019-05-21 22:03] #145 closed

[2019-05-28 15:16] #61 closed

[2019-05-28 22:22] gkapfham commented on #52
I am working on this issue, with the goal of consolidating all of the constants into the new `constants` module.

[2019-05-28 23:02] gkapfham commented on #146
It is worth noting that this "magic" string should also be handled by the refactoring of the constant variables.

[2019-05-29 15:54] gkapfham opened #168 "Track branch coverage for the regression test suite"
The regression testing process for GatorGrader currently tracks coverage at the statement level. However, our coverage monitoring tool supports the collection of coverage information at the branch level as well. More details about our tool are available at:

https://github.com/pytest-dev/pytest-cov

I'd like to see the infrastructure also calculate and report coverage at the branch level. With tha

[2019-05-29 16:16] gkapfham opened #169 "Refactor invoke to remove message and diagnostic duplication"
**Is your feature request related to a problem? Please describe.**

The `invoke` module contains a lot of duplicate code block that could be removed by refactoring. For instance, the way in which the `message` and the `diagnostic` are produced is largely the same across the different `invoke` functions. There is also a lot of conceptual redundancy around the fact that the checks are either "exact"

[2019-06-12 17:16] schultzh commented on #135
Where is the java source code located? Should the new tests be written before the source code is deleted?

[2019-06-13 01:46] gkapfham commented on #135
Hi @schultzh, thanks for this question. I think that the `internal` directory was previously only used by a run of the program as described in the `README.md` file. I do not see any examples where it is now used in the test suite. As such, I think that you can safely create a branch to delete this directory.

[2019-06-13 02:04] gkapfham commented on #146
Note that this issue is resolved by PR #167.

[2019-06-13 14:31] schultzh commented on #135
Okay great!! I'll work on that today/tomorrow.

[2019-06-14 01:48] #52 closed

[2019-06-14 01:48] #146 closed

[2019-06-14 01:49] gkapfham commented on #135
Great, thanks @schultzh, your help is greatly appreciated!

[2019-06-14 01:50] gkapfham commented on #169
The `invoke` module was refactored in #167 to handle most/all of these issues and thus I am going to close this issue. If there is further evidence for the need to refactor, we should open a new issue.

[2019-06-14 01:50] #169 closed

[2019-06-14 01:52] gkapfham commented on #62
I am closing this issue because @corlettim revised the README documentation and removed the output associated with running the test suite. As such, I think that this issue has now been correctly resolved.

[2019-06-14 01:52] #62 closed

[2019-06-14 01:53] gkapfham commented on #68
I wanted to write that I plan to implement this feature in the next few days. @quigley-c and @baldeosinghm if you would like to review the PR for this work, please let me know. Thanks!

[2019-06-14 01:54] gkapfham commented on #137
I am writing to note that I plan to work on this issue in the next few days. Let me know if you have any questions about the issue or if you have ideas on how it should be resolved. Thanks!

[2019-06-14 01:55] gkapfham commented on #135
Hi @schultzh I have removed the "help-wanted" tag for this issue under the view that you will create a branch and a PR that removes the code that is no longer needed. Let me know if this decision is not acceptable to you. Thanks!

[2019-06-17 14:19] gkapfham commented on #139
I think that @corlettim has made a lot of improvements to the README file. I am going to make some more improvements today in a new PR and then close this issue. Let me know if there are other changes that you would like to see me make in the README, okay @Michionlion and @alexheinle and @schultzh?

[2019-06-17 16:18] gkapfham commented on #137
Hi @Michionlion and @schultzh and @corlettim, I have resolved this issue in PR #170.

[2019-06-17 16:19] gkapfham commented on #68
I plan to work on this issue after implementing the new "linting-style" interface to GatorGrader.

[2019-06-17 16:28] gkapfham commented on #138
Hello @Michionlion and @Alex-Yarkosky, thanks for discussing this issue. I will try to work on it now and produce an improved implementation that provides some additional diagnostics.

[2019-06-18 12:32] #137 closed

[2019-06-18 14:20] schultzh commented on #139
I think all the changes look great! I like the way the comparison to other tools is set up and explained. Great job @corlettim!

[2019-06-19 21:01] gkapfham commented on #138
This issue will be resolved once PR #171 is merged.

[2019-06-20 02:13] gkapfham commented on #168
This issue will be resolved once PR #171 is merged.

[2019-06-20 03:12] gkapfham commented on #104
Hi @Michionlion, I agree that this is the case. With that said, I am thinking that since each linter configuration will be responsible for checking its arguments this issue will be less prevalent once we adopt that new approach. Agreed? I am going to place this on hold for now. We can resume discussion if needed. Otherwise, I judge that we will solve this issue by introducing the new linting inter

[2019-06-20 03:14] gkapfham commented on #64
There is a duplicate issue in #97 that suitably addresses this issue. As such, I am going to close this issue as it is not absolutely needed. Please reopen it if you think that there are other open points to consider.

[2019-06-20 03:14] #64 closed

[2019-06-20 03:16] gkapfham commented on #80
Hi @schultzh do you know if GatorGrader entered into an infinite loop for the first or the second program?

[2019-06-20 03:19] gkapfham commented on #68
@Michionlion I have put this issue on hold until after we implement the linting interface. My view is that, currently, adding this feature would require me to change the command-line interface, which I would prefer not to do and then have to change once we implement the linting approach.

[2019-06-20 03:23] gkapfham commented on #98
Hello @Michionlion and @schultzh and @corlettim, I would like to start a discussion about this issue! Right now, you have to specify checks in the following fashion:

[code]

However, if a system contains a total of 10 files, then you would have to write the above check for each one of the files, thereby ensuring that there are no `TODO` fragments inside of the code. I'm wondering if it would inst

[2019-06-20 12:09] schultzh commented on #135
@gkapfham I apologize for not getting to this issue when I planned to, I am currently writing a research paper and full-time at work. After this week I will have much more time to put into helping with these fixes!!

[2019-06-20 12:11] schultzh commented on #80
@gkapfham At this point, I do not remember which one caused the loop. I am sorry.

[2019-06-20 12:18] corlettim commented on #98
@gkapfham I prefer the idea of writing the code including the `.py` because I feel that writing one for each individual file could get very monotonous. I also think it would give a "comfort feel" to our tool for users...in other words, they can feel confident that all of their files are being checked rather than accidentally missing one or unsure of whether they will be needing a a specific check

[2019-06-20 13:30] gkapfham commented on #135
Hi @schultzh, no problem at all! Since I am going to be away all week next week, I have been scrambling to finish a bunch of issues on this project. I have an open PR #173 that should resolve this issue. If you have time, please check to make sure that I have not broken anything! Thanks!

[2019-06-20 13:32] gkapfham commented on #80
No problem, @schultzh, thanks. If I get a chance, I will try both of these files in an example assignment and see if I can re-create the infinite loop. If not, then I will close this issue. Thanks!

[2019-06-20 13:38] gkapfham opened #174 "Support Spellchecking of Technical Writing"
**Is your feature request related to a problem? Please describe.**

The current version of GatorGrader does not have a way to perform spellchecking on the submitted technical writing. While it might be possible to leverage existing spellcheckers for different Unix-like platforms, it is probably a good idea to implement these checks in a platform independent fashion. If technical writing contains s

[2019-06-20 19:51] gkapfham opened #175 "Provide a Linting Interface Instead of a Composable Interface"
**Is your feature request related to a problem? Please describe.**

Right now, GatorGrader supports the specification of a check, on say a file or the output of a command, through a "composable" interface where it is possible to mix-and-match command-line arguments. While this approach supports flexibility and it allows educators to specify unique checks, it is difficult to start with the check sp

[2019-06-26 20:17] Michionlion commented on #174
I also think this can probably wait, but could be a good check for the future! However, we should ensure that there is some way to ignore the output, because sometimes spell checkers will, for instance, fail on someone's name or other non-checkable situation.

[2019-06-26 20:20] Michionlion commented on #98
I think that the idea of atomic checks is more about a single purpose being followed (checking if a fragment exists, checking if a command runs, etc), and not necessarily that a single file is being acted upon. I think it's acceptable to add this, especially when we switch to the linting interface.

[2019-07-02 19:06] #135 closed

[2019-07-02 19:20] #138 closed

[2019-07-05 22:34] gkapfham commented on #168
I am closing this issue since GatorGrader now has 100% branch coverage. Anecdotally, this has been really helpful in finding parts of the code that were untested &mdash; and often not needed! Very useful!

[2019-07-05 22:34] #168 closed

[2019-07-06 22:42] gkapfham commented on #98
Hello @miller365 and @Michionlion and @corlettim, I have implemented this issue in PR #180.

[2019-07-06 23:30] gkapfham commented on #175
Also, @Michionlion and @corlettim and @schultzh we should start to think about whether we want to also adopt a plugin framework approach when we introduce the linting interface. Any ideas on this step?

[2019-07-07 19:46] corlettim commented on #175
@gkapfham Just so I have a better understanding and can hopefully provide ideas...what exactly would the plugin framework approach (if used/adopted) accomplish? Would it allow users to access Gator Grader more easily? Sorry if I am completely misunderstanding but I just wanted to clarify :)

[2019-07-08 21:53] gkapfham commented on #175
Hi @corlettim thanks for your question. The idea of providing a plug interface is that it would allow instructors to add new checks to GatorGrader without having to understand any of the internals of its implementation.

Right now, GatorGrader is "batteries included" since it allows developers to specify checks for a project by "mixing and matching" the existing checks. But, it is not currently ex

[2019-07-09 21:40] gkapfham commented on #131
Hi @Alex-Yarkosky, this issue is resolved by PR #181.

[2019-07-09 21:41] gkapfham commented on #101
This issue is resolved by PR #181.

[2019-07-09 21:42] gkapfham commented on #139
This issue is resolved by PR #181.

[2019-07-09 21:43] gkapfham commented on #92
This issue is resolved by PR #181.

[2019-07-09 21:43] gkapfham commented on #89
This issue is resolved by PR #181.

[2019-07-09 21:44] gkapfham commented on #56
Note that issue may be less of a concern once we go to a linting interface, as described in Issue #175.

[2019-07-09 21:46] gkapfham commented on #97
Hi, I should be able to resolve this issue by the end of the summer, ensuring that there are samples for all relevant assignments that adhere to the tool's new "linter interface", as described in Issue #175.

It is also worth noting that you can now configure a repository to be a template:

https://help.github.com/en/articles/creating-a-template-repository

[2019-07-09 23:07] schultzh commented on #175
I also feel the linting approach would be better than the current composable system.

Is it possible to create a file that holds all the possible keywords and arguments that could be accessible to all who use it?  Potentially a Github repo?

[2019-07-09 23:18] schultzh commented on #174
This sounds like a great check to implement in the future! It would certainly encourage well-written and professional technical writing from students.

[2019-07-11 18:08] Michionlion commented on #175
I think the simplest way to implement a plugin interface would be to specify the python file the check is in inside the call to GatorGrader, something like `python gatorgrader.py --plugin /home/saejin/gg/plugin.py FileExists Directory=<directory name> File=<filename>`

[2019-07-14 02:26] corlettim commented on #175
I definitely think that the plugin would be a great feature to have with the new linting approach because it would not only allow for flexibility with the style of checks but make it so that each user/instructor/professor can make the tool their own. If the plugins for the personalized checks would go into a visible file/directory, this could also open up a great opportunity for other users/instru

[2019-07-19 22:01] gkapfham commented on #175
Thanks to everyone for their feedback! @Michionlion I am leaning towards saying that every invocation of GatorGrader would require, say, the provision of the plugin directory or the specific plugin. Right now, my thought is that you could require the name of the plugin directory (or, perhaps even multiple plugin directories) and then the tool looks for the name of the specified check as a file in

[2019-07-19 22:12] gkapfham opened #182 "Run Tests with Multiple Versions of Python Using Tox on Local Machine"
**Is your feature request related to a problem? Please describe.**

There is no bug in the system in regards to this issue. At the outset, it is also important to note that the current setup for Travis CI supports the execution of the entire test suite in multiple versions of Python across the MacOS and Linux operating systems. We also currently run tests on Windows using AppVeyor. However, all of

[2019-07-19 22:15] gkapfham opened #183 "Delete the dependency on mutmut"
Currently, GatorGrader has `mutmut` as a development dependency. However, GatorGrader is not currently using this mutation testing tool for any aspect of test quality assessment.

**Expected behavior**

This dependency should be deleted from those developer dependencies managed by Pipenv.

[2019-07-20 23:06] #98 closed

[2019-07-21 00:54] #89 closed

[2019-07-21 00:54] #92 closed

[2019-07-21 00:54] #101 closed

[2019-07-21 00:54] #131 closed

[2019-07-21 00:54] #139 closed

[2019-07-21 18:58] MaddyKapfhammer commented on #183
PR #184 resolves this issue.

[2019-07-21 19:35] MaddyKapfhammer commented on #182
PR #185 resolves this issue.

[2019-08-02 14:53] #183 closed

[2019-08-09 19:29] #182 closed

[2019-08-09 20:11] gkapfham commented on #175
Hi, I wanted to let everyone know that I am actively working on this issue. I will create a WIP PR once I have a small prototype that is working and passing all of the test cases.

[2019-08-09 20:14] gkapfham opened #189 "Add Contributors"
@all-contributors please add @jjumadinova for ideas, projectManagement.

[2019-08-09 20:15] #189 closed

[2019-09-05 14:41] schultzh opened #191 "Create Markdown file with each available check in new listing interface"
**Describe the solution you'd like**

As we move forward with the new linting interface, the optimal solution to show all checks available in an automated Markdown file. This would allow users to click the check they are attemtping to use and see clear instructions specifically for said check. This would eliminate the need for a large text block in the ReadME file.

**Describe alternatives you've

[2019-09-05 14:49] schultzh commented on #191
Check out this tool we could potentially use: https://github.com/DavidWells/markdown-magic

[2019-09-05 15:12] corlettim opened #192 "Example repos to show what happens when checks pass and when they do not"
While this will be a 3 or 4 week long process, we hope to create new example repos since the old examples will break once we merge the new PR. We hope to create a starter and a solution examples. The starter example repo should have an exit of 1, showing that it fails to run. The solution example repo will exit with a 0, showing that it passes.

[2019-09-05 15:20] corlettim opened #193 "Bring those stickers please ;)"
Professor Kapfhammer got some cool stickers at PyOhio and we would love to stick those all over our laptops

[2019-09-06 02:21] gkapfham commented on #191
Thanks for the suggestion @schultzh. Can you also find and suggest a tool that can automatically take output from the use of `ListChecks` and turn that into Markdown?

The output with which you are dealing looks like this:

[code]

[2019-09-06 16:02] Michionlion commented on #192
These repositories should probably be an update of the old repositories, instead of creating new ones, although much of the configuration is likely to change. We don't want to create too many repositories that it becomes confusing for users! We should also deprecate (and notify visitors) a repository if it is no longer in use, perhaps by using GitHub's archive feature.

[2019-09-06 19:45] #175 closed

[2019-09-16 21:35] gkapfham commented on #192
I'm starting new repositories with a new naming convention, content and structure.

For instance,

https://github.com/GatorEducator/java-assignment-solution-100-01

https://github.com/GatorEducator/java-assignment-starter-100-01

Please bear in mind that we need to reference these and other repositories in the `README.md` file.

Later, I would like to have an integration testing tool that can, per

[2019-09-16 21:37] gkapfham commented on #193
I brought stickers on Friday, but @alexheinle was away that day!

I will leave this issue open until everyone is confident that they have enough stickers. :grin:

@corlettim please close the issue as you deem appropriate!

[2019-09-16 21:41] gkapfham commented on #191
Hi! For reference, here is other tools that might be helpful:

https://github.com/praiskup/argparse-manpagev

https://github.com/mle86/man-to-md

The idea is that we want an automated pipeline that will make it possible to go from the output of the Python program to an online format that describes the commands and their arguments.

A person who was starting to use GatorGrader could this check this

[2019-09-16 21:44] Michionlion commented on #192
I think that sounds good, although we should remove any old repositories that are no longer relevant, or perhaps consolidate them into one for future testing and other needs!

[2019-09-17 16:18] schultzh commented on #191
I looked into the ```man-to-md``` tool and think it would be a good way to move forward with is issue.

The only place I am struggling with the tool is how to actually obtain the ```nroff``` file from our terminal output when running ```pipenv run python gatorgrader.py ListChecks```

Any thoughts?

[2019-09-17 19:31] Michionlion commented on #191
I'm not sure `man-to-md` is a good choice -- it seems to expect certain constraints that, while we could probably work out a way to add, don't seem straightforward (read more about it [here](https://github.com/mle86/man-to-md/blob/master/doc/Input_Format.md)).

[2019-09-18 12:51] gkapfham commented on #193
I will bring more stickers to our meeting this week, @corlettim!

[2019-09-18 12:53] gkapfham commented on #192
Thanks @Michionlion I agree with your point. We will try to add new repositories, cleanup the existing ones, move over many repositories to the "Gator Incubator" and tackle other similar small tasks in the next two weeks.

[2019-09-18 12:54] gkapfham commented on #191
There is another tool that can take argparse to manual page and then the other tool might work.

Basically, we need a tool that takes argparse code directly to Markdown or, alternatively, argparse-based output to Markdown.

I did not find a tool that did this seamlessly, although there are some starts to attempts already available.

[2019-09-18 12:56] gkapfham commented on #191
I have tried a pipeline that only partially works. I have it documented in my notes and saved in a command history. But, please bear in mind that it produced HTML/Markdown output that was not perfect and would require manual adjustment to get into the correct format.

How hard would it be to write a tool that can take argparse-based code or argparse output and transform that into Markdown?

[2019-09-18 14:54] gkapfham opened #194 "Improve the documentation to reference new features"
There are several new features of GatorGrader that are not documented in the README file:

- Use of Docker
- Plugin-based approach
- New sample repositories
- Description of the check for markdown components
- Description of the checks for different kind of counts
- References to other auto-grading tools (see my new internal list)
- Reference to article showing what happens when auto-graders crash

[2019-09-18 14:58] gkapfham opened #195 "Preface the repository check with the word "The""
The tool currently has the following check:

[code]

When you run this check it produces a diagnostic that sayes "Repository contains ...".

While this is technically correct, it does not match the standard of the other checks, which all have the word "The" in front of the rest of the details. If you look at this example repo:

https://github.com/GatorEducator/java-assignment-starter-100-01

You c

[2019-09-18 15:03] gkapfham opened #196 "Checkmarks do not display correctly when using GatorGrader in Windows and PowerShell or cmd"
If you run GatorGrader inside of a Docker container on Windows 10 Pro or Windows 10 Enterprise, especially in the `cmd` prompt, there are some circumstances in which the checkmark and the xmark do not display correctly. Instead, there may be a box with various types of glyphs to indicate that the correct unicode symbol is not supported.

We should try to track down what default font and terminal c

[2019-09-18 15:11] gkapfham opened #197 "Add integration testing support that uses the sample repositories"
Issue #192 explains that we want to create new repositories that contain examples that are organized in a new fashion and that adhere to a new naming convention.

Once all of these repositories exist, then it is possible to implement a new approach to integration testing. The idea would be that we can use a tool to clone all of the example repositories when we are testing new features of GatorGrad

[2019-09-19 15:57] #193 closed

[2019-09-19 16:08] corlettim opened #198 "HTML solution to be created into a repo and documented appropriately"
To allow for a better understanding of our tool, the HTML solution the has been created. However, it must be added to a repository with correct documentation. This documentation will follow that of Professor Kapfhammer's Java solution documentation.

[2019-09-19 16:16] corlettim opened #199 "Improve documentation in the Java solution repo"
There is minor change needed but small documentations must be fixed. Example: "Repository has 10 commits" and the word "the" needs to be added.

[2019-09-19 16:25] corlettim opened #200 "Python solution and starter repository must be created"
The goal of this issue is to create a Python solution repo (one that passes) and a starter repo (one that fails) so that users know how to use and understand GatorGrader when it comes to Python.

Idea for which repo to use is one that uses Pytest test suite from 203

[2019-09-19 17:49] gkapfham opened #201 "Move not-used repositories to a separate "incubator" organizations"
There are many repositories that are no longer used in this organization.

They should be moved to a new "incubator" organization like "GatorIncubator".

Tasks:

- Create the new organization
- Move the repositories to this new organization
- Ensure that continuing repositories in this organization do not reference those in the incubator organization unless there is a specific need to do so.

I am

[2019-09-19 17:57] gkapfham commented on #191
I think that @schultzh and @corlettim are going to create a separate web site to complete resolve this issue.

This means that there are some open tasks:

- Move the repository for the web site into this organization
- Ensure that deployment of the web site is in a Netlify account for this organization
- Test the deployment process for the web site
- Document how to add new checks into the listing

[2019-09-19 17:58] gkapfham commented on #191
Does anyone else have any other requirements for the web site?

[2019-09-19 18:03] gkapfham opened #202 "Document a suitable workflow for people who want to learn how to use GatorGrader"
One problem that we have identified with the existing documentation in this repository and in the repository for GatorGrader's Gradle plugin is that it is hard to know "where to start" if you want to learn how to use this tool.

We should start to think more carefully about:

- Easiest way to learn how to use the tool
- Better tutorials that include screenshots and/or movies
- Ways to host this co

[2019-09-20 00:49] schultzh commented on #199
How do we assign this issue to Kahlil ??

[2019-09-20 00:50] schultzh commented on #199
Also, I believe this issue has been put in the issue tracker twice!

[2019-09-20 00:52] corlettim commented on #199
@schultzh I messaged him asking for his GitHub user name and he still has not responded so until that happens, I am unsure. Also, I think the other documentation issue is for our specific README file but I could be wrong.

[2019-09-20 03:53] schultzh commented on #191
We also need to continue thinking about how the website will complement the website and vice versa. There is not yet a clear conclusion but this should be taken into consideration as we continue to design.

[2019-09-25 19:30] #199 closed

[2019-09-26 20:25] jjumadinova opened #204 ""gradle grade" hanging on certain Windows machines only in Docker"
*Note: this is a repeated issue post from: https://github.com/GatorEducator/gatorgradle/issues/59

When students run `gradle grade` on certain Windows machines, the checking is getting stuck (hanging and not completing checks) at the `ExecuteCommand --command "gradle build"` line in the "gatorgrader.yml" file. Without this line in the "gatorgrader.yml" file, the `gradle grade` command is able to c

[2019-09-27 22:56] Michionlion commented on #191
We should have a custom domain name or something under the Allegheny `edu` banner -- I'd be willing to set up something custom if people agreed that this was something we wanted!

[2019-09-30 00:37] schultzh commented on #191
@Michionlion We have already begun this process! Thank you!

[2019-10-02 15:41] gkapfham commented on #204
Hi @jjumadinova, for now, let's keep the discussion in the other repository as we are not yet sure whether this is a problem for the Gradle plugin or for the GatorGrader system itself. Sounds okay?

[2019-10-02 15:59] #191 closed

[2019-10-02 16:57] corlettim opened #205 "Stretch goal label for checks"
For students that have a better understanding of the topics being taught in class. They have checks to reach and "stretch" for.

[2019-10-03 05:12] corlettim commented on #194
@Ktaylor2, once we get everything fully set up on your laptop, we would like for you to start on this issue! If you have any questions, please let us know. We are always more than welcome to help.

[2019-10-07 15:13] Michionlion commented on #195
Has this fix been merged into master? If not, we should keep this issue open.

[2019-10-07 15:16] corlettim commented on #195
@Michionlion  yes, we merged this into the master of the java solution...that is why we closed the issue.

[2019-10-07 16:22] schultzh commented on #198
New repository has been created.

[2019-10-07 16:22] #198 closed

[2019-10-07 16:28] schultzh commented on #200
Starter and solution repositories have been created for Python assignments.

[2019-10-07 16:28] #200 closed

[2019-10-07 18:34] Michionlion commented on #195
@corlettim perhaps I'm misunderstanding things, but doesn't this need to be fixed in GatorGrader proper as well? [These lines](https://github.com/GatorEducator/gatorgrader/blob/master/gator/invoke.py#L35) in `invoke.py` suggest that the `The`-less output is still being produced.

[2019-10-07 18:35] Michionlion commented on #195
Notably, this fix was made on a [forked PR](https://github.com/ajciancimino/gatorgrader/pull/1) that may have been incorrectly created.

[2019-10-07 18:37] Michionlion commented on #195
Ah, and now #206 comes along to fix things!

[2019-10-09 15:40] #97 closed

[2019-10-09 15:40] #192 closed

[2019-10-09 16:08] #195 closed

[2019-10-09 16:17] corlettim commented on #201
@sutterj Hannah, Alex, and I have made new repositories for the solution and starter repos. If you could please add the old repos into the GatorIncubator by next week, that would be great!! If you have any questions, please let us know!

[2019-10-10 20:25] gkapfham commented on #201
Hi @sutterj can you please let us know if you are finished with this task? Once you are done, it would be great if you can mention the name of the organization here and then also give a reference to the URL for the organization. I don't think that we need to link to the repositories in any documentation, but it would be nice if this issue documented the name of the new organization and confirmed t

[2019-10-10 20:30] gkapfham opened #207 "Automatically Generate a GatorGrader Configuration File"
Right now, the GatorGrader tool can check, for instance, if a file in a directory exhibits certain properties like a Java program containing a specific number of single-line comments.

While this feature is useful, it makes it difficult for people to learn how to create a new `gatorgrader.yml` file and thus it is hard for people to start using GatorGrader.

I'll add more details about this idea so

[2019-10-10 20:31] gkapfham commented on #202
One idea to consider is #207. Would that idea make it easier to use GatorGrader?

Let me know what you think, okay?

[2019-10-10 21:36] sutterj commented on #201
I believe that I have moved everything that should have been moved.  Let me know if I made a mistake.

The new organization is [GatorIncubator](https://github.com/GatorIncubator)

[2019-10-11 23:39] #201 closed

[2019-10-11 23:44] Michionlion commented on #207
This is certainly an interesting idea -- I think that it would be quite useful, but it doesn't fit well into our current encapsulated functionality. Normally this kind of this would go into GatorGradle, because that's where the `gatorgrader.yml` file lives, but the functionality needed to generate the data to put in it would definitely fall into GatorGrader territory. I think this needs more thoug

[2019-10-16 21:05] gkapfham commented on #207
Hi @Michionlion, yes, I see what you mean.

One quick point: the functionality to perform the detection _does_ currently live in GatorGrader now, although it exists for a different purpose.

So, the current tool _can_ detect how many comments exist in a Java program or how many headers exist in a Markdown file.

If we built this as another tool, would we then "call" GatorGrader somehow? Or, re-imp

[2019-10-28 16:01] corlettim opened #208 "New starter and solution repo for LaTeX"
The addition of the new starter and solution repos will allow us to get rid of the old starter since it does not follow our current protocol.

[2019-11-05 16:20] #208 closed

[2019-11-24 17:52] Andre-Forberg opened #211 "Research on topic auto grading"
Hi everyone,

my name is André Forberg, and I am a master student at Westsächsische Hochschule Zwickau (western saxony university) in Germany.
We are currently working on a project with the topic 'auto grading' and our task is to evaluate gatorgrader.
We would like to ask you some questions regarding the problems we have encountered with installation and testing. We contacted @gkapfham via email,

[2019-11-24 19:22] Michionlion commented on #211
I can answer some of these questions, however others may need to weigh in as well.

1) The pipeline from `gatorgrader.yml` to python code being run is as follows:

* `gatorgrader.yml` parsed in `org.gatorgradle.config.GatorGradleConfig`
* Individual python grading tasks (lines from `gatorgrader.yml`) are executed in `org.gatorgradle.task.GatorGradleTask` (each represented by a `Command`)
* GatorGr

[2019-11-28 09:05] Andre-Forberg commented on #211
Hi Saejin,

thank you for your detailed answer, this will help us a lot!
I will try to answer each of your questions one by one:

1. Since we are only planning to create a working prototype, the version 0.2.0 will work just fine for our purposes. Updating to version 1.0.0 will probably not be on our schedule, since we only have 8 weeks left (excluding christmas time and end of year). The project w

[2019-11-29 06:51] Michionlion commented on #211
Per 2), any existing unit testing framework can be used -- including just a bare Java class with a main method, so whatever you use for unit tests currently can be substituted for the `gradle test` command I put as an example. We do not explicitly parse unit test results, but check whether a suite passes based on the exit code of whatever command is used to run it.

Per 3), while the Gradle wrappe

[2019-12-05 02:05] schultzh commented on #211
Hello! We are delighted by your interest in the GatorGrader tool! We ask that you keep all discussions and questions in the issue tracker so those currently tasked with developing the tool can also be included in the discussion and contribute. We are also students and do our best to respond in a timely manor within 24 to 48 hours. Thank you!

[2019-12-05 19:31] corlettim commented on #211
To follow up with @schultzh message, if anything has been discussed over email, we ask that you please place those comments here! Thank you!

[2020-01-20 01:18] sjones-gh commented on #56
Think this would be a good issue for me to start on? I'm not sure if the linting interface lessened its importance, though.

[2020-01-21 01:44] Michionlion commented on #56
I think this is definitely still something that needs to be fixed, although depending on your confidence in understanding of the system you may want to start with a simpler issue -- this one will require some knowledge of how we create a `report` dictionary, and what the contents of that dictionary should be for various invocations of the check functions. Note that some individual checks also may

[2020-01-21 01:56] sjones-gh commented on #56
Yes, good point. I wouldn't want to make any duplicates or unnecessary tests. What issue would be a `good-first-issue` then?

[2020-01-21 15:52] Michionlion commented on #104
@gkapfham Is this issue solved by the new linting interface?

[2020-01-23 15:42] gkapfham commented on #104
Hi @Michionlion, yes, I think that it should be solved.

[2020-01-23 15:43] gkapfham commented on #56
Hi @sjones-gh, thanks for your interest in the project! Let us know if you have questions about picking an issue that you can start to work on as we are all glad to help.

[2020-01-24 23:33] #104 closed

[2020-01-27 20:55] durcij opened #213 ""gradle grade" Command Failing on Ubuntu 18.04"
**Describe the bug**

When attempting to run the `gradle grade` command, there is an error that prevents it from properly installing the needed dependencies.

**To Reproduce**

Steps to reproduce the behavior:
1. Open a lab directory on a lab machine
2. Attempt to run `gradle grade`

**Expected behavior**

I had expected that it would run correctly, and provide me with the feedback about my lab.

[2020-01-27 23:21] Michionlion commented on #213
Hmmm... this is extremely similar to a bug we dealt with a while ago that related to python versions. Do you by chance have `pyenv` installed on your lab machine account?

Also, can you try deleting the `$HOME/.local/share/gatorgrader` folder?

[2020-01-29 03:11] gkapfham commented on #213
Hello @durcij, can you please delete the `gatorgrader` and `virtualenvs` directories inside of the `.local/share/` directory on your Ubuntu 18.04 desktop? There was recently an upgrade in the dependencies for GatorGrader and it is possible that you might need to delete and previously installed versions of GatorGrader and any of the virtual environments that it created and then let the `gradle grad

[2020-01-29 03:16] gkapfham commented on #211
Hello @Andre-Forberg is there anything else that you would like to discuss in this issue? Can we close this issue now? Thanks for your feedback, it is greatly appreciated.

[2020-01-29 03:41] durcij commented on #213
Thanks for responding @Michionlion and @gkapfham .  I'll make sure to try deleting the old dependencies next time I work at a lab computer.

[2020-01-29 14:43] sjones-gh opened #214 "Maintain 100% branch coverage in the test suite"
The current test suite covers just above **99%** of all branches. When `pipenv run cover` is ran, the branches left untouched are displayed, but there is no way to tell how to implement a test to cover them or why they are untouched. If there was a more comprehensive report that was displayed when we lacked 100% branch coverage, it would prove to be very useful.

[2020-02-03 14:15] gkapfham commented on #213
Hi @durcij do you have any updates on this issue?

[2020-02-03 14:53] durcij commented on #213
Yes, sorry for the delay.  I deleted the `virtualenvs` folder, but couldn't find the `gatorgrader` folder you'd listed.

The output after removing the folder was as follows:

[code]

[2020-02-03 16:25] Andre-Forberg commented on #211
Hi everyone,

I apologize for not keeping you up to date.
Last Friday we finished the project, but we didn't reached the prototyping phase. So we summarized our results into one report for our professors. Gatorgrader might be used in future projects, so someone else might contact you again later this year for further questions.
Our proposed solution is the integration of gatorgrader in an web base

[2020-02-03 17:04] #211 closed

[2020-02-03 17:06] Michionlion commented on #213
Can you report the version of Pip (`pip --version`) and Pipenv (`pipenv --version`)?

[2020-02-03 20:51] durcij commented on #213
`pip 9.0.1 from /usr/lib/python2.7/dist-packages (python 2.7)`
`pipenv, version 2018.7.1`

[2020-02-03 22:31] Michionlion commented on #213
Can you try upgrading Pip with `pip install --upgrade pip`? I think that may be the problem in this case. The version of Python Pip is attached to shouldn't matter, I think. For context, here is my (working) versions:
[code]

[2020-02-05 14:09] durcij commented on #213
I ran the command, and pip updated, but it's still giving me the error when I try to run `gradle grade`.

[2020-02-15 04:03] sjones-gh commented on #197
I'm working on a `bash` script to get a proof of concept for this. It will clone down each repo in **GatorEducator** and run `gradle grade` on it. I'm starting with the GitHub API `v3`.

[2020-02-19 17:33] schultzh opened #215 ": (colon) in strings cause bug"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. <!-- Replace this text --!>
2. <!-- Replace this text --!>

**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment**

A concise description of your environment: GatorGrader version, python version,
operating system, etc.

**

[2020-02-19 17:58] alexheinle commented on #213
After running gradle grade, the terminal is now showing a different error message than what @durcij showed.

[code]

[2020-02-19 21:54] Michionlion commented on #213
The Nashorn warning was only present on older versions of GatorGradle -- are you running `0.5.0`? Check the `build.gradle` file.

[2020-03-03 03:35] schultzh opened #216 "Add potential bug solution to README.md documentation."
**Is your feature request related to a problem? Please describe.**

There are occasional instances when the `gradle grade` command is not recognized when run in the terminal. There is currently no way to automate detection of this issue as it could be caused by a multitude of factors depending on an individual's personal device and environment configuration.

**Describe the solution you'd like**

[2020-03-03 17:45] Michionlion commented on #216
Just to verify, this is not `gradle grade` being unrecognized (which would be an issue with Gradle not being installed) but a command run by GatorGradle producing an error which is something like "command not recognized". Is that right?

[2020-03-09 15:34] sjones-gh commented on #197
There is a command line tool called `jq` for parsing JSON. I was using it for data returned from `curl` but was wondering what our approach is on external tools. @gkapfham Should I stay away from using command line tools for testing on travis? If so, how should I go about parsing JSON via bash/batch?

[2020-06-12 18:50] gkapfham commented on #197
Hi @sjones-gh, I think that it is fine if you want to use `jq` to parse the JSON files when you are running a program in Travis CI. Will you be calling the `jq` program from a Python program that you implement? Or, will you simply be calling it from a script in Travis CI? Overall, the main challenge that you may run into when it comes to using external programs like `jq` is that they may not be pl

[2020-06-16 14:56] sjones-gh commented on #197
@gkapfham the original plan was to call it using a shell script, but if I find that it has a tangled mess of dependencies, I’ll see if there’s some python lib for this. I would like to avoid leaning on yet another python library, though.

[2020-06-16 17:22] gkapfham commented on #197
I'm sure that there are multiple Python libraries that would solve this issue. You would need to add it as a dev dependency idiot pipenv.

[2020-06-27 01:19] gkapfham opened #218 "Test Case Fails Due to Newline Counting Assertion on Python 3.8.3"
**Describe the bug**

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Run the test suite with `pipenv run test` on Python 3.8.3
2. Observe that the test case fails
3. Note that the test case passes when using older versions of Python

**Expected behavior**

The test suite should pass.

**Environment**

- Ubuntu Linux 16.04
- Python 3.8.3 installed through Pyenv

**Additional context*

[2020-06-27 18:52] gkapfham opened #219 "Parse a gatorgrader.yml file and run multiple GatorGrader Checks"
**Is your feature request related to a problem? Please describe.**

For individuals who are not programming in Java, it is potentially confusing that they currently have to use GatorGrader's Gradle plugin to run all of the checks for an assignment. This has the potential for even more confusion if an individual is not programming in either Java or Python. Would it be possible for GatorGrader to re

[2020-10-24 18:18] enpuyou commented on #219
Hi Professor @gkapfham, I was just looking into the `gatorgrader.yml` and its related parsing functions in java. And I have a few questions:

Here is a section of the `gatorgrader.yml` I got from a 101 lab. Is there any particular reason why the paths are structured like this for multiple files?
[code]
Can it be:
[code]

In addition to that, I have been receiving some other parsing errors while us

[2020-10-26 16:08] Michionlion commented on #219
Hi @enpuyou,
The GatorGrader.yml file is actually not strictly YAML, which is probably why some of the issues you have are cropping up; as you said, the "standalone" checks are just listed, each on their own line, which is not valid YAML.
As for paths, you can check out the [current implementation](https://github.com/GatorEducator/gatorgradle/blob/master/src/main/java/org/gatorgradle/config/GatorG

[2020-10-26 16:14] enpuyou commented on #219
Thanks for the confirmation @Michionlion ! That's what I thought but I wasn't sure. I was thinking if we want to proceed with `PyYAML`, it would be better to make `gatorgrader.yml` to have the valid YAML syntax, that might also require some extra update to the Gradle side of the code.

[2020-10-26 16:18] Michionlion commented on #219
The issue also would be backwards compatibility, which we should really try to maintain as much as possible (we for sure want old labs to work with any new changes).

[2020-10-26 16:27] enpuyou commented on #219
@Michionlion That's right! Thanks for pointing that out. I think the python implementation could be just designed for the valid syntax YAML, while the Gradle code should be able to handle both. I haven't looked deep into the current Gradle implementation yet, but I think it's definitely feasible to have it compatible with the new and old structures.

[2020-10-27 00:36] bagashvilit commented on #219
Hi everyone, we have been discussing using Poetry to answer one of the points in this issue: how to make GatorGrader a program that is available on PyPI and support installation with programs like `pip`. The reason why Poetry may be a better option is that it combines dependency management, packaging, and publishing into a single configuration file. Meaning that in addition to easily publishing th

[2020-10-27 16:23] donizk commented on #219
Hi everyone! Like @kailaniwoodard said, after having met with both her and @bagashvilit , I chose to answer the question relating to the commands that are equivalent between pipenv and poetry.

**What are the equivalent commands between pipenv and poetry?**
Both Poetry and Pipenv have the ability to install dependencies (as part of being dependency management tools), but there are some differences

[2020-10-27 17:39] corlettim commented on #219
@bagashvilit @kailaniwoodard @donizk, you all did phenomenal research this past week!! All of this information will not only be beneficial in the long run when it comes time for implementation but also for the other developers that may not be as familiar with Poetry. Keep up the great work!!

[2020-11-03 18:14] corlettim opened #221 "Transition to GitHub Actions"
This issue addresses the change from Travic CI to GitHub Action configurations.

In all currently labs and practicals that integrate GatorGrader have now started using GitHub Actions. Therefore, it would benefit gatorGrader to use this setup. Not only is it an easier configuration but GitHub Actions is faster.

We now no longer need appveyor and GitHub Actions will do all the work.

[2020-11-17 17:16] schultzh commented on #221
[GitHub Actions Docs](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/introduction-to-github-actions)

[Migrating from Travis CI to GitHub Actions](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions)

The first step in completing this task will be translating the `.travis.yml` file into GitHub Actions

[2020-11-17 18:50] gkapfham commented on #221
Thanks for agreeing to work on this task @schultzh! Please let me and @corlettim know if you have questions about completing it. I look forward to having this new feature up and running as it will be incredibly useful. Some other notes to consider:

- At the start, we might want to keep Travis CI and AppVeyor along with GitHub Actions (especially as long as those builds are not breaking and there

[2020-11-17 18:52] gkapfham commented on #219
Hi everyone! What is the consensus? Do we think that it would be a good idea to implement this feature? If you think that this
feature is useful, can you comment briefly on why you think it is most useful? Does anyone have a list of steps that we would need to follow in order to complete this features?

[2020-11-17 22:06] Jordan-A commented on #174
Hello everyone!

I'm new to working on the GatorGrader tool but I'm interested in implementing this suggested feature! One of several suggested features @gkapfham informed me about this topic is to have the ability to set a certain threshold of incorrectly spelled words to compensate against the tool incorrectly detecting student's names/source code words as incorrect. Additionally there are also

[2020-12-10 06:16] corlettim opened #223 "Mysterious failing build for specific files in main and PRs"
This issue is to address the bug that we seem to be having with all PRs as well as the main branch.
This bug is breaking the build for Travis CI by saying that `black` is failing for the following files:
invoke.py
test_markdown.py
test_fragments.py

These build problems are happening specifically on Linux on Travis CI and some versions of Python on AppVeyor

You can check the status of these faili

[2020-12-10 20:56] Michionlion commented on #223
This looks like it's an issue with different version of `black`: on some platforms, the default seems to be `19.10b0`, whereas on others it is `20.8b1`. These two versions treat a few select cases differently; for example, when running `black` on `gator/invoke.py` with the two different versions, the files end up with differences in two places:

[code]

Thus, I think we should pin the version of `

[2020-12-16 14:53] blackeuler commented on #47
Is this still a desired feature?

[2020-12-16 23:03] gkapfham commented on #47
Hello @blackeuler, yes, this is a desirable feature. With that said, right now I would place it at a lower level of priority than some of the other issues in the issue tracker. There are at least two reasons for this: (i) while there are certain courses that have a lot of team-based projects, there are other courses that have little team-based work and (ii) several other contributors have suggeste

[2020-12-16 23:04] gkapfham commented on #174
Hello @Jordan-A, do you have any updates on your progress towards completing this feature? Please let us know what steps you are currently considering and how I and other members of the team can help you complete this feature. If you have a timeline by which you think that you can complete an implementation of this feature, then please share those details as well! Thanks!

[2020-12-16 23:07] gkapfham commented on #47
Also, @blackeuler here are two issues that I would rank as more important than this one:

#207 - if there was a tool to generate a GatorGrader configuration based on an existing project, that would be awesome!
#215 - I'm not sure (yet) if this is a defect in GatorGrader's Python source code or in the Java-based Gradle plugin. But, multiple people have now replicated this defect, which would be gre

[2020-12-17 01:50] Michionlion commented on #215
Does this happen when a colon is in a string in `gatorgrader.yml`? If so, it is extremely likely the bug is somewhere in GatorGradle, possibly [ConfigMap#parseBody](https://github.com/GatorEducator/gatorgradle/blob/master/src/main/java/org/gatorgradle/config/ConfigMap.java#L201). That section of the parsing algorithm could definitely use some improvement and testing as well!

[2020-12-17 02:03] blackeuler commented on #47
If this is not a high-priority feature I will work on something else, I hadn't thought in implementation details yet. I saw this was an open issue with not much discussion so I thought I would inquire. I will look at issue #207 that looks interesting. Thought I would help out over the winter break.

Nice hearing from you as well.

[2020-12-17 02:28] Jordan-A commented on #174
Hi @gkapfham! Currently I have implemented the initial version of the `check_Spelling.py` file that defines the command line arguments like the `file`, `directory`, and an optional `ignore` argument to ignore a certain amount of misspelled words. I would commit and push the work I currently have but I'm facing an error that prevents the program from running successfully when running the `pipenv ru

[2020-12-30 16:39] schultzh commented on #221
As I have been working on this issue, I no longer feel that GitHub Actions is developed enough for us to transition over.

- MacOS and Ubuntu builds do not yet support the container actions needed to run the performance testing measures we currently use in Travis CI, such as:
     - `pip`
     - `pipenv`
     - `mdl`

While those container actions are not necessary and manual commands can be used,

[2021-03-18 03:58] #221 closed

[2021-03-18 03:59] #223 closed

[2021-03-31 17:08] schultzh commented on #216
I've closed corresponding PR #217, so I will close this issue as well.

[2021-03-31 17:08] #216 closed

[2021-03-31 17:11] #194 closed

[2021-04-05 17:30] schultzh opened #231 "Updating pyyaml and pygments remove gitdb module"
**Describe the bug**

When merging depedabot PRs bumping:
`pyyaml` from `5.3` to `5.4`
`pygments` from `2.5.2` to `2.7.2`

GatorGrader was unable to find:
`/home/$USER/.local/share/virtualenvs/gatorgrader-$ENV/lib/python3.8/site-packages/gitdb`

To tool was rendered useless, throwing unknown error messages for every check.

Updating the `PIpfile.lock` with these new dependency versions caused the

[2021-04-05 18:07] schultzh opened #232 "Docker update deletes gcc complier -- breaks GatorGrader functionality"
**Describe the bug**

`gradle grade` fails in newest version of Docker (3.2.2)

[code]

provided `docker run` command produces the following error:

[code]

[2021-04-28 17:28] corlettim commented on #232
Further research has been done on this issue but none of this research has led to a solution.
The first attempt to solve this bug was removing the `.docker` file locally saved on the system being used. For reference, MacOS was the system used. Once removing the `docker` file, we attempted rebuilding a local Docker image. This was attempted through running the `./build.sh` file that exists in Docka

[2021-06-10 19:23] gkapfham opened #235 "Spelling mistake in the CONTRIBUTING.md file"
**Describe the bug**

The CONTRIBUTING.md file has a spelling mistake in it.
The word "support" is not spelled correctly.

[2021-07-06 22:29] #235 closed

[2021-08-24 19:05] gkapfham commented on #232
Hello @schultzh can you confirm whether this was an issue for every assignment you tried and for every operating system that you tried? Or, was the problem localized in some fashion? Finally, can you please let us know whether or not Docker Desktop is now working correctly or if you are still experiencing problems with getting it up and running? Thanks for your feedback!

[2021-08-24 19:09] gkapfham commented on #232
Also @schultzh here is the output from me running a laboratory assignment from a previous semester:

[code]

I used the following Docker command:

[code]

My run of `docker --version` reports the following:

[code]

I am running the following version of the Linux kernel:

[code]

[2021-08-24 20:51] schultzh commented on #232
@gkapfham To the best of my knowledge, this occurred with all of the assignments we tested it on. I have not been back to it since the spring and will have to work to recreate the bug tonight. I'll keep you updated!

[2021-08-24 20:58] gkapfham commented on #232
Thanks for agreeing to investigate this issue further @schultzh! :100:

[2021-08-24 22:39] schultzh commented on #232
Details for the following errors are outlined below -- I am realizing now this might be a MacOS terminal issue.

Assignment:
`java-assignment-solution-100-01`

Docker command:
[code]

`docker --version` returns:
`Docker version 20.10.8, build 3967b7d`

Failing build details:
[code]

[2021-08-24 22:50] schultzh commented on #232
To highlight the various errors in order:

(1) pipenv `regex` and `typed-ast` dependencies cannot be installed from the `.lock` file

(2) the `/.local/share/gatorgrader` folder is deleted

(3) build fails as there is nothing to build

[2021-08-25 01:42] gkapfham commented on #232
Hello @schultzh, thanks for further investigating this issue! The first question that I have is: have you tried to delete your `.dockagator` directory and then try the entire process again? Sometimes you might have been using a different version of Python in an old DockaGator container and then when you upgrade it will cause problems.

Here is some content that I recently wrote on this topic:

If

[2021-08-25 01:44] gkapfham commented on #232
One positive note is that we both have the same version of Docker! So, we are doing similar tests, albeit on different operating systems and execution environments. If you have any other ideas on how to solve this problem, please let me know! Thanks!

[2021-09-13 05:20] Michionlion opened #237 "Tests fail if run in a terminal with more or less than 80-82 columns"
**Describe the bug**

Many test cases in GatorGrader check the newline count of generated output. It turns out that this count can change depending on an external variable: the number of columns in the terminal used to run `pytest`. With a `$COLUMNS` value fewer than 80, certain tests will fail, with more failures the smaller the terminal becomes. The same is true in reverse, with a `$COLUMNS` val

[2022-07-18 21:01] Michionlion commented on #219
Hi all! This issue has been resolved with the implementation of [GatorGrade](https://github.com/GatorEducator/gatorgrade), and PyPI package publishing will be completed before the start of this upcoming semester.

[2022-07-18 21:03] Michionlion commented on #231
It seems this bug has been resolved by the authors of GitPython. If it occurs again, please re-open this issue!

[2022-07-18 21:04] Michionlion commented on #213
Closing as this issue appears to be resolved.

[2022-07-18 21:04] #213 closed

[2022-07-18 21:06] Michionlion commented on #204
Closing as not-our-issue (in this repository).

[2022-07-18 21:06] #204 closed

[2022-07-22 03:54] gkapfham commented on #80
Hi @Michionlion I am fine closing this issue. There was not a further investigation of the problem and, importantly, we've not seen this issue in many recent runs of the tool. If a problem like this appears in the future I can open a new issue!

[2022-07-22 03:54] #80 closed

[2022-10-17 15:08] Michionlion commented on #215
This bug has been squashed in the final release of GatorGradle, and never existed for GatorGrade.

[2022-10-17 15:08] #215 closed

[2022-10-17 15:38] Michionlion opened #246 "Refactor README.md"
I believe that currently the `README.md` file has a significant amount of semi-outdated and unhelpful content, and needs a major refactoring. I've listed a few problems I see below, but a discussion of these issues would probably be a good idea to form an idea of the direction a refactor should go.

1. References to Travis CI should be updated.
2. References to GatorGradle should be updated or rem